<div
  class={{concat progressDotClassNames " more-info-trigger-" elementId}}
  {{action "toggleMoreInfo" (not isMoreInfoVisible)}}>
  {{#if isSupported}}
    {{percent}}%
  {{/if}}
</div>
<div>
  {{#render-later triggerRender=isMoreInfoVisible}}
    {{#one-webui-popover
      class="progress-more-info"
      triggerSelector=(concat ".more-info-trigger-" elementId)
      open=isMoreInfoVisible
      as |popover|}}
      {{#click-outside action=(action "toggleMoreInfo" false) except-selector=(concat ".more-info-trigger-" elementId)}}
        <ul class="description-items">
          <li><strong>{{tt this "space"}}: </strong> <span class="space-name">{{space.name}}</span></li>
          <li><strong>{{tt this "provider"}}: </strong> <span class="provider-name">{{provider.name}}</span></li>
          <li>
            <strong>{{tt this "progress"}}: </strong>
            <span class="harvesting-progress">
              {{#if isSupported}}
                {{percent}}%
              {{else}}
                {{tt this "notsupported"}}
              {{/if}}
            </span>
          </li>
          {{#if lastUpdate}}
            <li><strong>{{tt this "lastUpdate"}}:</strong> <span class="last-update">{{lastUpdate}}</span></li>
          {{/if}}
          {{#if error}}
            <li class="text-danger"><strong>{{tt this "error"}}:</strong> <span class="last-error">{{error}}</span></li>
          {{/if}}
        </ul>
      {{/click-outside}}
    {{/one-webui-popover}}
  {{/render-later}}
</div>
