<div class="row content-row header-row hidden-xs">
  <h1 class="with-back relative nowrap">
    <a class="content-back-link" {{action "backSlide"}}>
      {{one-icon icon="lambda" class="content-back-resource-icon"}}
      {{one-icon icon="arrow-left" class="content-back-arrow-icon"}}
    </a>
    <div class="resource-name">{{tt this "header"}}</div>
  </h1>
</div>
<div class="row content-row">
  <p class="hidden-sm hidden-md hidden-lg">
    <button class="btn btn-default btn-sm" {{action "backSlide"}}>
      {{one-icon icon="arrow-left"}}
      <span class="text">{{tt this "backSlide"}}</span>
    </button>
  </p>
  {{content-atm-inventories-lambdas/atm-lambda-form
    mode="create"
    onSubmit=(action "onFormSubmit")
  }}
</div>
{{yield}}
