<div class="row content-row header-row">
  <h1 class="with-back relative nowrap">
    <a class="content-back-link" {{action "backSlide"}}>
      {{record-icon
        modelName="atmLambda"
        class="content-back-resource-icon"
      }}{{one-icon icon="arrow-left" class="content-back-arrow-icon"}}
    </a>
    <div class="resource-name">
      {{headerText}}
      {{#if (and (not-eq viewType "creator") activeRevisionNumber)}}
        <small class="revision-number">
          {{tt this "header.revisionNumber" revisionNumber=activeRevisionNumber}}
        </small>
      {{/if}}
    </div>
    <div class="btn-toolbar">
      {{#if (contains dumpAction globalActions)}}
        {{#bs-button
          type="default"
          onClick=dumpAction.executeCallback
          disabled=dumpAction.disabled
          size="sm"
          class=(concat-classes dumpAction.classNames "hidden-xs")
        }}
          {{one-icon icon=dumpAction.icon}}
          <span class="text">{{dumpAction.title}}</span>
        {{/bs-button}}
      {{/if}}
    </div>
  </h1>
</div>
<div class="row content-row">
  {{content-atm-inventories-lambdas/atm-lambda-form
    mode=formMode
    revision=atmLambdaRevision
    defaultAtmResourceSpec=onedataConnection.defaultAtmResourceSpec
    onSubmit=(action "onFormSubmit")
    onCancel=onBackSlide
  }}
</div>
{{yield}}
