{{#if supportedAuthorizers.length}}
  <div class="basicauth-login-form-container animated fast {{if (or isLoading _hasAuthorizersForSelect) "hide" "always-visible"}}">
    <h2>{{t "components.loginBox.loginFormContainer.formSubtitle"}}
      <span class="subtitle-tip">
        {{one-icon icon="sign-question"}}
        {{one-tooltip title=(if _hasAuthorizersForSelect
          (t "components.loginBox.loginFormContainer.formSubtitleTip")
          (t "components.loginBox.loginFormContainer.noProvidersFormSubtitleTip"))}}
      </span>
    </h2>
    {{basicauth-login-form
      authenticationSuccess=authenticationSuccess
      authenticationFailure=authenticationFailure
      authenticationStarted=authenticationStarted
      backButtonAction=(if _hasAuthorizersForSelect (action "backAction") undefined)
    }}
  </div>
  {{#if _hasAuthorizersForSelect}}
    <div class="authorizers-select-container animated fast">
      <h2>{{t "components.loginBox.loginFormContainer.dropdownSubtitle"}}</h2>
      {{login-box/social-box-list
        supportedAuthorizers=_authorizersForButtons
        isLoading=isLoading
        authenticate=(action "authenticate")
        usernameLoginClick=(action "usernameLoginToggle")
        showMoreButton=_showMoreProvidersButton
        showMoreClick=(action "showMoreClick")
      }}
      {{#authorizers-dropdown
        class="animated fast hide"
        authorizers=_authorizersForSelect
        onSelect=(action "authorizerSelected")
        selectedAuthorizer=selectedAuthorizer
        activeAuthorizer=_activeAuthorizer
        placeholder=(t "components.loginBox.loginFormContainer.findProviderPlaceholder")
        disabled=_activeAuthorizer
      }}
        <div class="dropdown-label">{{t "components.loginBox.loginFormContainer.loginWith"}}</div>
      {{/authorizers-dropdown}}
    </div>
  {{/if}}
{{else if (not isLoading)}}
  <p class="no-login-methods">{{tt this "noLoginMethods"}}</p>
{{/if}}

{{#if sessionHasExpired}}
  <div class="login-notification login-notification-sesion-expired login-notification-warning">
    <div class="inline-icon-container session-expired-icon-container">
      {{one-icon icon="menu-recent" class="session-expired-icon"}}  
    </div>
    {{tt this "sessionExpired"}}.
  </div>
{{/if}}
{{#if testMode}}
  <div class="login-notification test-mode-notification login-notification-warning">
    <span>{{tt this "loginTestMode"}}</span><br>
    {{#link-to "login"}}{{tt this "goBackToMainPage"}}{{/link-to}}
  </div>
{{else if (and loginNotification (not isLoading))}}
  <div class="login-notification login-notification-admin-message">
    {{loginNotification}}
  </div>
{{/if}}
