<div class="login-form-container animated fast {{if hasAuthorizersForSelect "hide" "always-visible"}}">
  <h2>{{t "components.loginBox.loginFormContainer.formSubtitle"}}
    <span class="subtitle-tip">
      {{one-icon icon="sign-question"}}
      {{bs-tooltip title=(if hasAuthorizersForSelect 
        (t "components.loginBox.loginFormContainer.formSubtitleTip")
        (t "components.loginBox.loginFormContainer.noProvidersFormSubtitleTip"))}}
    </span>
  </h2>
  {{basicauth-login-form
    authenticationSuccess=authenticationSuccess
    authenticationFailure=authenticationFailure
    authenticationStarted=authenticationStarted
    backButtonAction=(action "backAction")
  }}
</div>
{{#if hasAuthorizersForSelect}}
  <div class="authorizers-select-container animated fast">
    <h2>{{t "components.loginBox.loginFormContainer.dropdownSubtitle"}}</h2>
    {{login-box/social-box-list
        supportedAuthorizers=authorizersForButtons 
        isLoading=isLoading 
        authenticate=(action "authenticate")
        onUsernameLoginClick=(action "usernameLoginToggle")
        showMoreButton=showMoreProvidersButton
        showMoreClick=(action "showMoreClick")}}
    <div class="authorizers-dropdown-container animated fast hide">
      {{#power-select
        options=authorizersForSelect
        onchange=(action "authorizerSelected")
        selected=selectedAuthorizer
        matcher=authorizersSelectMatcher
        dropdownClass="authorizers-dropdown"
        placeholder=(t 'components.loginBox.loginFormContainer.findProviderPlaceholder')
        disabled=_activeAuthorizer
        as |authorizer|}}
        {{login-box/social-box-list/social-box 
          active=(eq authorizer _activeAuthorizer)
          spinnerScale=0.15
          type=authorizer.type
          iconType=authorizer.iconType
          iconName=authorizer.iconName
        }}
        {{authorizer.name}}
      {{/power-select}}
      <div class="dropdown-label">{{t 'components.loginBox.loginFormContainer.loginWith'}}</div>
    </div>
  </div>
{{/if}}
