<div class="basicauth-login-form-container animated fast {{if (or isLoading _hasAuthorizersForSelect) "hide" "always-visible"}}">
  <h2>{{t "components.loginBox.loginFormContainer.formSubtitle"}}
    <span class="subtitle-tip">
      {{one-icon icon="sign-question"}}
      {{one-tooltip title=(if _hasAuthorizersForSelect 
        (t "components.loginBox.loginFormContainer.formSubtitleTip")
        (t "components.loginBox.loginFormContainer.noProvidersFormSubtitleTip"))}}
    </span>
  </h2>
  {{basicauth-login-form
    authenticationSuccess=authenticationSuccess
    authenticationFailure=authenticationFailure
    authenticationStarted=authenticationStarted
    backButtonAction=(if _hasAuthorizersForSelect (action "backAction") undefined)
  }}
</div>
{{#if _hasAuthorizersForSelect}}
  <div class="authorizers-select-container animated fast">
    <h2>{{t "components.loginBox.loginFormContainer.dropdownSubtitle"}}</h2>
    {{login-box/social-box-list
        supportedAuthorizers=_authorizersForButtons 
        isLoading=isLoading 
        authenticate=(action "authenticate")
        usernameLoginClick=(action "usernameLoginToggle")
        showMoreButton=_showMoreProvidersButton
        showMoreClick=(action "showMoreClick")}}
      {{#authorizers-dropdown
        class="animated fast hide"
        authorizers=_authorizersForSelect
        onSelect=(action "authorizerSelected")
        selectedAuthorizer=selectedAuthorizer
        placeholder=(t "components.loginBox.loginFormContainer.findProviderPlaceholder")
        disabled=_activeAuthorizer}}
        <div class="dropdown-label">{{t "components.loginBox.loginFormContainer.loginWith"}}</div>
      {{/authorizers-dropdown}}
  </div>
{{/if}}
