{{#if supportedAuthorizers.length}}
  <div class="basicauth-login-form-container animated fast {{if (or isLoading _hasAuthorizersForSelect) "hide" "always-visible"}}">
    <h2>{{tt this "formSubtitle"}}
      <span class="subtitle-tip">
        <OneIcon @icon="sign-question-rounded" />
        <OneTooltip
          @title={{if
            _hasAuthorizersForSelect
            (tt this "formSubtitleTip")
            (tt this "noProvidersFormSubtitleTip")
          }}
        />
      </span>
    </h2>
    <BasicauthLoginForm
      @loginViewModel={{loginViewModel}}
      @authenticationSuccess={{authenticationSuccess}}
      @authenticationFailure={{authenticationFailure}}
      @authenticationStarted={{authenticationStarted}}
      @backButtonAction={{if _hasAuthorizersForSelect (action "backAction") undefined}}
    />
  </div>
  {{#if _hasAuthorizersForSelect}}
    <div class="authorizers-select-container animated fast">
      <h2>{{tt this "dropdownSubtitle"}}</h2>
      <LoginBox::AuthIconBoxList
        @supportedAuthorizers={{_authorizersForButtons}}
        @isLoading={{isLoading}}
        @authenticate={{action "authenticate"}}
        @usernameLoginClick={{action "usernameLoginToggle"}}
        @showMoreButton={{_showMoreProvidersButton}}
        @showMoreClick={{action "showMoreClick"}}
      />
      <AuthorizersDropdown
        class="animated fast hide"
        @authorizers={{_authorizersForSelect}}
        @onSelect={{action "authorizerSelected"}}
        @selectedAuthorizer={{selectedAuthorizer}}
        @activeAuthorizer={{_activeAuthorizer}}
        @placeholder={{tt this "findProviderPlaceholder"}}
        @disabled={{_activeAuthorizer}}
      >
        <div class="dropdown-label">{{tt this "signInWith"}}</div>
      </AuthorizersDropdown>
    </div>
  {{/if}}
{{else if (not isLoading)}}
  <p class="no-login-methods">{{tt this "noSignInMethods"}}</p>
{{/if}}

{{#if sessionHasExpired}}
  <div class="login-notification login-notification-session-expired login-notification-warning">
    <div class="inline-icon-container session-expired-icon-container">
      <OneIcon @icon="time-outline" class="session-expired-icon" />
    </div>
    {{tt this "sessionExpired"}}.
  </div>
{{/if}}
{{#if showDomainMismatchWarning}}
  <div class="login-notification login-notification-warning">
    <div class="inline-icon-container session-expired-icon-container">
      <OneIcon @icon="sign-warning-rounded" class="warning-icon" />
    </div>
    {{tt this "domainMismatchWarning"
      browserDomain=browserDomain
      onezoneDomain=onezoneDomainText
    }}
  </div>
{{/if}}
{{#if testMode}}
  <div class="login-notification test-mode-notification login-notification-warning">
    <span>{{tt this "signInTestMode"}}</span><br>
    <LinkTo @route="login">{{tt this "goBackToMainPage"}}</LinkTo>
  </div>
{{else if (and signInNotification (not isLoading))}}
  <div class="login-notification login-notification-admin-message">
    {{signInNotification}}
  </div>
{{/if}}
