<h1>{{tt this "title"}}</h1>
<div class="inner-row-content">
  <div class="subheader-text space-settings-info">
    {{tt this "description" spaceName=space.name providerName=provider.name}}
  </div>
  <div class="iconified-block">
    <div class="icon-section">
      {{one-icon icon="overview"}}
    </div>
    <div class="dir-stats-config content-section">
      <div class="content-section-header">
        <label
          for="dir-stats-config"
          class="inline-label dir-stats-config-label"
        >
          {{tt this "dirStatsService.label"}}
        </label>
        {{one-way-toggle
          class=(concat "form-control toggle-field-dir-stats-config")
          inputId="dir-stats-config"
          checked=dirStatsServiceEnabled
          spinnerSide=(if (media "isMobile") "left" "right")
          update=(action "changeDirStatsServiceEnabled")
          isReadOnly=dirStatsToggleDisabled
          lockHint=dirStatsToggleLockHint
        }}
        <div class="status-container">
          <span class="status-badge label {{dirStatsServiceStatusClass}}">
            {{dirStatsServiceStatusTranslation}}
          </span>
        </div>
      </div>
      <div class="subheader-text dir-stats-config-info">
        {{tt this "dirStatsService.description"}}
      </div>
      {{#if (not dirStatsServiceEnabled)}}
        <p>
          {{one-icon class="dir-stats-icon" icon="warning"}}
          <span class="dir-stats-warning">
            {{tt this "dirStatsService.recomputingWarning"}}
          </span>
        </p>
      {{/if}}
      <p>
        {{one-icon class="dir-stats-icon" icon="warning"}}
        <span class="dir-stats-warning">
          {{tt this "dirStatsService.additionalLoadWarning"}}
        </span>
      </p>
    </div>
  </div>
</div>
