<div class="icon-section">
  {{one-icon icon="space-empty"}}
</div>
<div class="content-section">
  <div class="basic-info-row">
    <div class="basic-info-col">
      <div class="row marketplace-item-row title-row">
        <div class="space-name">{{spaceName}}</div>
        <div class="tags-container">
          {{tags-input readonly=true tags=tags}}
        </div>
      </div>
      <div class="row marketplace-item-row secondary-row">
        {{#truncated-string class="organization-name"}}
          {{organizationName}}
        {{/truncated-string}}
        <span class="col-separator hidden-xs hidden-sm"></span>
        <div class="creation-time hidden-xs hidden-sm">
          {{one-icon icon="create-time" class="creation-time-icon"}}
          <span class="creation-time-text">
            {{date-format creationTime format="date"}}
          </span>
          {{one-tooltip title=creationTimeTooltip}}
        </div>
        <span class="col-separator"></span>
        <div class="support-list">
          <div class="support-item">
            {{one-icon icon="support"}}
            <div class="text">
              {{bytes-to-string supportSize}}
            </div>
          </div>
          {{#each providerNames as |providerName|}}
            <div class="support-item">
              {{record-icon modelName="provider"}}
              <div class="text">{{providerName}}</div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="access-info-col">
      {{#if isAccessGranted}}
        <div class="access-granted-container">
          {{one-icon icon="cart-checked"}}
          <span class="text">{{tt this "accessGranted"}}</span>
        </div>
        <div class="access-links-container">
          <a href={{visitSpaceHref}} class="visit-space-link space-link">
            <span class="text">{{tt this "visitSpace"}}</span>
            {{one-icon icon="link-external"}}
          </a>
          <span class="col-separator"></span>
          <a href={{configureSpaceHref}} class="configure-space-link space-link">
            <span class="text">{{tt this "configure"}}</span>
            {{one-icon icon="link-external"}}
          </a>
        </div>
      {{else if isRequested}}
        {{#one-button size="sm" disabled=true}}
          {{one-icon icon="cart"}}
          <span class="text">{{tt this "requestSent"}}</span>
        {{/one-button}}
      {{else}}
        {{#one-button size="sm" onClick=(action "requestAccess")}}
          {{one-icon icon="cart"}}
          <span class="text">{{tt this "requestAccess"}}</span>
        {{/one-button}}
      {{/if}}
    </div>
  </div>
  <div class="row marketplace-item-row description-row">
    {{content-spaces-marketplace/space-description
      spaceItem=spaceItem
    }}
  </div>
</div>
{{yield}}