<div class="icon-section">
  {{one-icon icon="space-empty"}}
</div>
<div class="content-section">
  <div class="basic-info-row">
    <div class="basic-info-col">
      <div class="row marketplace-item-row title-row">
        <div class="space-name">{{spaceItem.name}}</div>
        <div class="tags-container">
          {{tags-input readonly=true tags=tags}}
        </div>
      </div>
      <div class="row marketplace-item-row secondary-row">
        <span class="organization-name">{{spaceItem.organizationName}}</span>
        <span class="col-separator"></span>
        <div class="support-list">
          <div class="support-item">
            {{one-icon icon="support"}}
            <div class="text">3 TiB</div>
          </div>
          <div class="support-item">
            {{one-icon icon="provider"}}
            <div class="text">Kraków</div>
          </div>
          <div class="support-item">
            {{one-icon icon="provider"}}
            <div class="text">Paris</div>
          </div>
        </div>
      </div>
    </div>
    <div class="access-info-col">
      <div class="main-button">
        {{#if spaceItem.isOwned}}
          {{#one-button size="sm" onClick=(action "configureSpace")}}
            Configure
          {{/one-button}}
        {{else}}
          {{#one-button size="sm" onClick=(action "requestAccess")}}
            {{one-icon icon="cart"}}
            Request access
          {{/one-button}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row marketplace-item-row description-row {{if isDescriptionExpanded "description-row-expanded"}}">
    {{one-markdown-to-html
      class="markdown-view"
      markdown=spaceItem.description
    }}
    {{#unless isDescriptionExpanded}}
      <div class="expand-btn">
        <a class="navy" onclick={{action "expandDescription"}}>Expand description...</a>
      </div>
    {{/unless}}
  </div>
</div>
{{yield}}