<div class="form-group-light search-form-group">
  <div class="input-group with-icon-addon">
    {{search-bar search=(action "changeSearchValue") class="form-control"}}
    <div class="input-group-addon">
      {{one-icon icon="search"}}
    </div>
  </div>
</div>
<div class="form-group tags-filter-form-group">
  {{tags-input
    tags=(or tags (array))
    tagEditorComponentName="space-configuration/space-tags-selector"
    readonly=false
    onChange=(action "changeTagsFilter")
  }}
</div>
{{#if entries.length}}
  <ul class="list-entries iconified-block-marketplace-access-granted-container">
    <li class="special-row table-start-row"></li>
    <li
      class="special-row first-row"
      style={{infiniteScroll.firstRowModel.style}}
    ></li>
    {{!-- FIXME: maybe no entries message should be rendered here to enable infinite scroll refresh --}}
    {{#if showFetchPrevLoader}}
      <li class="special-row loading-row">
        {{spin-spinner-block sizeClass="sm" class="absolute-middle-centered"}}
      </li>
    {{/if}}
    {{#each entries key="id" as |spaceItem|}}
      {{content-spaces-marketplace/item
        viewModel=viewModel
        spaceItem=spaceItem
      }}
    {{/each}}
    {{#if showFetchNextLoader}}
      <li class="special-row loading-row">
        {{spin-spinner-block sizeClass="sm" class="absolute-middle-centered"}}
      </li>
    {{/if}}
  </ul>
{{else if viewModel.searchValue}}
  <p class="no-matching-results">{{tt this "noMatchingResults"}}</p>
{{/if}}
{{yield}}