<div class="form-group-light search-form-group">
  <div class="input-group with-icon-addon">
    {{search-bar search=(action "changeSearchValue") class="form-control"}}
    <div class="input-group-addon">
      {{one-icon icon="search"}}
    </div>
  </div>
</div>
{{#if entries.length}}
  <ul class="list-entries iconified-block-marketplace-access-granted-container">
    <li class="table-start-row"></li>
    <li class="first-row" style={{infiniteScroll.firstRowModel.style}}></li>
    {{!-- FIXME: maybe no entries message should be rendered here to enable infinite scroll refresh --}}
    {{#each entries as |spaceItem|}}
      {{content-spaces-marketplace/item
        class="data-row"
        viewModel=viewModel
        spaceItem=spaceItem
      }}
    {{/each}}
  </ul>
{{else if viewModel.searchValue}}
  <p class="no-matching-results">{{tt this "noMatchingResults"}}</p>
{{/if}}
{{yield}}