<div class="form-group-light search-form-group">
  <div class="input-group with-icon-addon">
    {{search-bar search=(action "changeSearchValue") class="form-control"}}
    <div class="input-group-addon">
      {{one-icon icon="search"}}
    </div>
  </div>
</div>
{{#if filteredCollection.length}}
  <ul class="list-entries iconified-block-marketplace-owned-container">
    {{#each filteredCollection as |spaceItem|}}
      {{content-spaces-marketplace/item viewModel=viewModel spaceItem=spaceItem}}
    {{/each}}
  </ul>
{{else if viewModel.searchValue}}
  <p class="no-matching-results">{{tt this "noMatchingResults"}}</p>
{{/if}}
{{yield}}