<div class="form-group-light search-form-group">
  <div class="input-group with-icon-addon">
    {{search-bar search=(action "changeSearchValue") class="form-control"}}
    <div class="input-group-addon">
      {{one-icon icon="search"}}
    </div>
  </div>
</div>
<ul class="list-entries">
  {{#each sortedCollection as |atmWorkflowSchema|}}
    {{content-atm-inventories-workflows/atm-workflow-schemas-list-entry
      atmInventory=atmInventory
      atmWorkflowSchema=atmWorkflowSchema
      onRevisionCreated=onRevisionCreated
      onRevisionClick=onRevisionClick
    }}
  {{else}}
    {{#if searchValue}}
      <p>{{tt this "noMatchingResults"}}</p>
    {{/if}}
  {{/each}}
</ul>
{{yield}}
