<div class="row content-row header-row">
  <h1 class="with-back relative nowrap normal-case">
    <a class="content-back-link" {{action "backSlide"}}>
      {{record-icon modelName="atmWorkflowSchema" class="content-back-resource-icon"}}
      {{one-icon icon="arrow-left" class="content-back-arrow-icon"}}
    </a>
    <span class="resource-name">
      {{one-inline-editor
        class="workflow-schema-name"
        value=atmWorkflowSchema.name
        onSave=(action "changeName")
      }}
    </span>
    <div class="btn-toolbar">
      {{#one-spin-button
        class="btn btn-save btn-sm btn-primary"
        disabled=isSaveBtnDisabled
        action=(action "save")
      }}
        {{tt this "saveBtn"}}
        {{#if saveBtnTip}}
          {{one-tooltip title=saveBtnTip}}
        {{/if}}
      {{/one-spin-button}}
    </div>
  </h1>
</div>
{{workflow-visualiser
  mode="edit"
  rawData=visualiserData
  actionsFactory=actionsFactory
  onChange=(action "visualiserDataChange")
}}
{{yield}}
