<div class="row content-row header-row">
  <h1 class="with-back relative nowrap normal-case">
    <a class="content-back-link" {{action "backSlide"}}>
      {{record-icon modelName="atmWorkflowSchema" class="content-back-resource-icon"}}
      {{one-icon icon="arrow-left" class="content-back-arrow-icon"}}
    </a>
    <div class="resource-name">
      {{one-inline-editor
        class="workflow-schema-name"
        value=atmWorkflowSchema.name
        onSave=(action "changeName")
      }}
    </div>
  </h1>
</div>
<div class="row content-row">
  {{#one-spin-button class="btn btn-sm btn-primary" action=(action "save")}}
    Save
  {{/one-spin-button}}
</div>
{{workflow-visualiser
  mode="edit"
  rawData=visualiserData
  onChange=(action "visualiserDataChange")
}}
{{yield}}
