<div class="row content-row header-row">
  <h1 class="with-back relative nowrap">
    <a class="content-back-link" {{action "backSlide"}}>
      {{record-icon
        modelName=(if (eq mode "create") "atmLambda" "atmWorkflowSchema")
        class="content-back-resource-icon"
      }}
      {{one-icon icon="arrow-left" class="content-back-arrow-icon"}}
    </a>
    <div class="resource-name">{{headerText}}</div>
  </h1>
</div>
<div class="task-form-container">
  {{workflow-visualiser/task-form
    mode=mode
    atmLambda=atmLambda
    atmLambdaRevisionNumber=revisionNumber
    definedStores=definedStores
    task=task
    isShown=isShown
    isDisabled=isSubmittingData
    actionsFactory=actionsFactory
    onChange=(action "formDataChanged")
  }}
  <div class="btn-toolbar">
    {{#one-spin-button
      class="btn btn-primary btn-submit clickable"
      action=(action "submit")
      disabled=(not isDataValid)
    }}
      {{submitBtnText}}
    {{/one-spin-button}}
    {{#bs-button
      type="default"
      class="btn-cancel clickable"
      disabled=isSubmittingData
      onClick=(action "cancel")
    }}
      {{tt this "buttons.cancel"}}
    {{/bs-button}}
  </div>
</div>
{{yield}}
