{{#proceed-process-modal
  opened=opened
  close=close
  proceed=(action "create")
  processing=processing
  modalClass="create-space-modal"
  headerText=(tt this "createSpace")
  proceedButtonClass="btn btn-primary proceed"
  proceedButtonText=(tt this "create")
  proceedDisabled=proceedDisabled
  onShown=(action "onShown")}}
  <p class="input-top-description">
    {{tt this "enterSpaceName"
      relation=(tt this relation)
      harvesterName=harvester.name}}
  </p>
  <input
    value={{newSpaceName}}
    oninput={{action (mut newSpaceName) value="target.value"}}
    onkeydown={{invoke-on-enter (action "redirectToSubmit")}}
    placeholder={{tt this "newSpaceNamePlaceholder"n}}
    disabled={{processing}}
    class="form-control modal-input create-space-name">
{{/proceed-process-modal}}
