<div class="icon-section">
  {{one-icon icon="lambda"}}
</div>
<div class="content-section">
  <div class="name">{{lambdaFunction.name}}</div>
  <div class="summary-container">
    {{#if lambdaFunction.summary}}
      <span class="summary">{{lambdaFunction.summary}}</span>
    {{/if}}
    <a class="details-toggle" {{action "toggleDetails"}}>{{toggleDetailsText}}</a>
  </div>
  {{#one-collapse class="details-collapse" collapsed=(not isExpanded)}}
    {{#render-later triggerRender=isExpanded}}
      {{content-inventories-functions/lambda-function-form
        mode="view"
        lambdaFunction=lambdaFunction
      }}
    {{/render-later}}
  {{/one-collapse}}
</div>
{{yield}}
