<td
  onclick={{action "changeOpenGroup"}}
  class={{concat-classes
    "priv-group"
    (if isModified "modified-priv")
  }}
>
  <div class="group-privilege-text-container">
    {{#if isOpen}}
      {{one-icon icon="arrow-up"}}
    {{else}}
      {{one-icon icon="arrow-down"}}
    {{/if}}
    <div>{{privilegesGroup.text}}</div>
  </div>
</td>
{{#if isDirect}}
  {{member-privileges/group-privileges-cell
    privileges=privileges
    groupPrivilegeName=privilegesGroup.text
    inputChanged=(action "inputChanged")
    form=form
    isDirect=true
    editionEnabled=editionEnabled
    newGrantedEffPrivCount=0
    arePrivilegesUpToDate=true
    isUnknownEffPrivStatus=false
  }}
{{else}}
  <td class="toggle-column direct group na">{{tt this "na"}}</td>
{{/if}}
{{#if (not isBulkEdit)}}
  {{#promise-proxy-container
    proxy=isUnknownEffPrivStatus
    sizeClass="xxs"
  }}
    {{member-privileges/group-privileges-cell
      privileges=effectivePrivilegeValues
      groupPrivilegeName=privilegesGroup.text
      inputChanged=(action "inputChanged")
      form=form
      isDirect=false
      newGrantedEffPrivCount=newGrantedEffPrivCount
      arePrivilegesUpToDate=arePrivilegesUpToDate
      isUnknownEffPrivStatus=isUnknownEffPrivStatus.content
    }}
  {{/promise-proxy-container}}
{{/if}}