<td
  onclick={{action "changeOpenGroup"}}
  class={{concat-classes
    "priv-group"
    (if isModified "modified-priv")
  }}
>
  {{#if isOpen}}
    {{one-icon icon="arrow-down"}}
  {{else}}
    {{one-icon icon="arrow-up"}}
  {{/if}}
  {{groupPrivileges.text}}
</td>
{{member-privileges/group-privileges-cell
  privileges=privileges
  groupPrivileges=groupPrivileges
  inputChanged=(action "inputChanged")
  form=form
  isDirect=true
  editionEnabled=editionEnabled
}}
{{#if (not isBulkEdit)}}
  {{member-privileges/group-privileges-cell
    privileges=effPrivileges
    groupPrivileges=groupPrivileges
    inputChanged=(action "inputChanged")
    form=form
    isDirect=false
  }}
{{/if}}