{{#promise-proxy-container
  proxy=privilegesLoadingProxy
  isLoading=isLoadingProxy
  isLoaded=isLoadedProxy
  isError=isErrorProxy
  errorReason=errorReasonProxy}}
  {{#bs-form submitOnEnter=false as |form|}}
    <table class="table-privileges table table-info">
      {{member-privileges/table-header
        modelTypeTranslation=modelTypeTranslation
        isBulkEdit=isBulkEdit
      }}
      <tbody>
        {{#each definition as |groupPrivileges|}}
          {{#if isDirectMember}}
            {{member-privileges/group-privilege-row
              privileges=(get
                modifiedPrivileges
                groupPrivileges.name)
              effectivePrivilegeValues=(get
                      effectivePrivileges
                      groupPrivileges.name)
              privilegesGroup=groupPrivileges
              previousDirectPrivilegeValues=(get directPrivileges groupPrivileges.name)
              inputChanged=(action "inputValueChanged")
              changeOpenGroup=(action "changeOpenGroup" groupPrivileges.name)
              isOpen=(get groupsOpenState groupPrivileges.name)
              form=form
              isDirect=isDirectMember
              editionEnabled=editionEnabled
              isBulkEdit=isBulkEdit
            }}
          {{else}}
            <tr onclick={{action "changeOpenGroup" groupPrivileges.name}}>
              <td class="priv-group">
                <div class="group-privilege-text-container">
                  {{#if (get groupsOpenState groupPrivileges.name)}}
                    {{one-icon icon="arrow-up"}}
                  {{else}}
                    {{one-icon icon="arrow-down"}}
                  {{/if}}
                  <div>{{groupPrivileges.text}}</div>
                </div>
              </td>
              <td class="toggle-column direct group na">{{tt this "na"}}</td>
              {{member-privileges/group-privileges-cell
                privileges=(get effectivePrivileges groupPrivileges.name)
                groupPrivilegeName=groupPrivileges.text
                isDirect=isDirectMember
              }}
            </tr>
          {{/if}}
          {{#if (get groupsOpenState groupPrivileges.name)}}
            {{#each groupPrivileges.subtree as |privilege|}}
              {{member-privileges/privilege-row
                privilege=privilege
                effectivePrivilegeValue=(get
                  (get effectivePrivileges groupPrivileges.name)
                  privilege.name
                )
                privilegesGroupName=groupPrivileges.name
                inputChanged=(action "inputValueChanged"
                  (concat (concat groupPrivileges.name '.') privilege.name)
                )
                directPrivilegeValue=(if recordDirectProxy
                  (get
                    (get modifiedPrivileges groupPrivileges.name)
                    privilege.name
                  )
                  null
                )
                previousDirectPrivilegeValue=(if recordDirectProxy
                  (get
                    (get directPrivileges groupPrivileges.name)
                    privilege.name
                  )
                  null
                )
                isDirect=isDirectMember
                isBulkEdit=isBulkEdit
                editionEnabled=editionEnabled
                form=form
              }}
            {{/each}}
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  {{/bs-form}}
{{/promise-proxy-container}}

