{{#promise-proxy-container
  proxy=recordEffectiveProxy.models
  isLoading=(and recordEffectiveProxy.isLoading (not recordEffectiveProxy.hasBeenLoaded))
  isLoaded=(and recordEffectiveProxy.hasBeenLoaded (not recordEffectiveProxy.models.isRejected))
  isError=recordEffectiveProxy.fetchError
  errorReason=recordEffectiveProxy.fetchError}}
  <table class="table-privileges table table-info">
    {{member-privileges/table-header
      modelTypeTranslation=modelTypeTranslation
    }}
    <tbody>
      {{#each definition as |groupPrivileges|}}
        <tr
          onclick={{action "changeOpenGroup" groupPrivileges.name}}
        >
          <td class="priv-group">
            <div class="group-privilege-text-container">
              {{#if (get isOpenedGroup groupPrivileges.name)}}
                {{one-icon icon="arrow-up"}}
              {{else}}
                {{one-icon icon="arrow-down"}}
              {{/if}}
              <div>{{groupPrivileges.text}}</div>
            </div>
          </td>
          <td class="toggle-column direct global na">{{tt this "na"}}</td>
          {{member-privileges/group-privileges-cell
            privileges=(get effectivePrivileges groupPrivileges.name)
            groupPrivileges=groupPrivileges
            isDirect=false
          }}
        </tr>
        {{#if (get isOpenedGroup groupPrivileges.name)}}
          {{#each groupPrivileges.subtree as |privilege|}}
            {{member-privileges/privilege-row
              privilege=privilege
              effectivePrivilege=(get
                (get effectivePrivileges groupPrivileges.name)
                privilege.name
              )
              groupPrivileges=groupPrivileges.name
              isDirect=false
            }}
          {{/each}}
        {{/if}}
      {{/each}}
    </tbody>
  </table>
{{/promise-proxy-container}}

