<td class={{concat-classes
    "priv"
    (if (not (eq oldPrivilege directPrivilege)) "modified-priv")
  }}
>
  {{privilege.text}}
</td>
<td class={{concat-classes "toggle-column direct" (if (not isDirect) "na")}}>
  {{#if isDirect}}
    {{#form.group}}
      {{one-way-toggle
        class=inputClass
        inputId=inputId
        checked=directPrivilege
        threeState=privilege.field.threeState
        allowThreeStateToggle=privilege.field.allowThreeStateToggle
        showLockForReadOnly=false
        isReadOnly=false
        update=(action "inputChanged")
        isReadOnly=(not editionEnabled)
      }}
    {{/form.group}}
  {{else}}
    {{tt this "na"}}
  {{/if}}
</td>
{{#if (not isBulkEdit)}}
  <td
    class={{concat-classes
      "toggle-column effective"
      (if (not effectivePrivilege) "not-granted")
    }}
  >
    {{#if effectivePrivilege}}
      {{one-icon icon="checked"}}
    {{else}}
      <div class="priv-revoke">–</div>
    {{/if}}
  </td>
{{/if}}
