{{tt parentView "descriptionStart"}}
{{tt parentView "descriptionSee"}}
<a href={{one-doc-url "administering_onedata/onedatify_deploy.html"}}>
  {{tt parentView "descriptionDocumentation"}}
</a>
{{tt parentView "descriptionForMore"}}
