{{#sticky-element top=navigationState.globalBarHeight}}
  <div class="row content-row header-row hidden-xs has-border">
    <h1 class="with-menu">
      <span class="one-label">{{tt this "members"}}</span>
      <div
        class={{concat-classes "view-tools-toggle" (if viewToolsVisible "active")}}
        {{action "toogleViewTools"}}>
        {{one-tooltip title=(tt this (if viewToolsVisible "hideViewOptions" "showViewOptions"))}}
      </div>
      <div class="btn-toolbar with-place-for-dots">
        {{#if batchPrivilegesEditAvailable}}
          {{#bs-button size="sm" onClick=(action "batchPrivilegesEdit") disabled=(not batchPrivilegesEditEnabled)}}
            {{tt this "multiedit"}}
          {{/bs-button}}
        {{/if}}
      </div>
      {{actions-toolbar isMinimized=true actionsArray=headerActions}}
    </h1>
  </div>
  <div class="view-tools row content-row has-border collapse-animation {{unless viewToolsVisible "collapse-hidden"}}">
    {{#bs-button-group
      value=onlyDirect
      class="direct-selector view-mode-selector"
      type="radio"
      justified=media.isMobile
      onChange=(action (mut onlyDirect)) as |bg|
    }}
      <div class="btn-group" role="group">
        {{#bg.button type="default" class="btn-sm btn-direct" value=true}}
          {{tt this "direct"}}
        {{/bg.button}}
      </div>
      <div class="btn-group" role="group">
      {{#bg.button type="default" class="btn-sm btn-effecitve" value=false}}
          {{tt this "effective"}}
        {{/bg.button}}
      </div>
    {{/bs-button-group}}
    {{#bs-button-group
      value=aspect
      class="mode-selector view-mode-selector"
      type="radio"
      justified=media.isMobile
      onChange=(action (mut aspect)) as |bg|
    }}
      <div class="btn-group" role="group">
        {{#bg.button type="default" class="btn-sm btn-direct" value="privileges"}}
          {{tt this "privilegesAspect"}}
        {{/bg.button}}
      </div>
      <div class="btn-group" role="group">
        {{#bg.button type="default" class="btn-sm btn-effecitve" value="memberships"}}
          {{tt this "membershipsAspect"}}
        {{/bg.button}}
      </div>
    {{/bs-button-group}}
    {{#if (eq aspect "memberships")}}
      <div class="show-descriptions-toggle">
        {{one-way-toggle inputId="members-show-descriptions" checked=showMembershipDescription update=(action (mut showMembershipDescription))}}
        <label for="members-show-descriptions" class="inline-label">{{tt this "showDescriptions"}}</label>
      </div>
    {{/if}}
  </div>
{{/sticky-element}}
{{#promise-proxy-container proxy=ownersProxy}}
  <div class="row">
    {{#members-collection
      record=record
      griAspect=griAspects.group
      aspect=aspect
      onlyDirect=onlyDirect
      showMembershipDescription=showMembershipDescription
      collapseForNumber=10
      subjectType="group"
      recordsSelected=(action "recordsSelected" "group")
      membersLoaded=(action "recordsLoaded")
      listHeader=(tt this "groups")
      groupedPrivilegesFlags=groupedPrivilegesFlags
      privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
      privilegesTranslationsPath=privilegesTranslationsPath
      collectionActions=groupListActions
      itemActionsGenerator=groupActionsGenerator
      effectiveItemActionsGenerator=effectiveGroupActionsGenerator as |list|}}
      {{#list.item as |listItem|}}
        {{#listItem.header
          class="text-center"
          disableToggleIcon=true
          isCollapsible=false
          hasCheckbox=false
          truncate=false}}
          <span class="one-label">
            {{tt this "noGroupsStart"}}
            <a {{action "inviteGroupUsingToken"}}>{{tt this "noGroupsInvite"}}</a>
            {{tt this "noGroupsEnd"}}
          </span>
        {{/listItem.header}}
      {{/list.item}}
    {{/members-collection}}
  </div>
  <div class="row user-list-row">
    {{#if (and modelSupportsOwners (not owners.length))}}
      <div class="alert alert-warning">
        {{tt this "noOwnerWarning"
          model=(tt this (concat "noOwnerWarningModel." record.constructor.modelName))
        }}
      </div>
    {{/if}}
    {{#members-collection
      record=record
      griAspect=griAspects.user
      aspect=aspect
      onlyDirect=onlyDirect
      showMembershipDescription=showMembershipDescription
      subjectType="user"
      owners=owners
      recordsSelected=(action "recordsSelected" "user")
      membersLoaded=(action "recordsLoaded")
      listHeader=(tt this "users")
      groupedPrivilegesFlags=groupedPrivilegesFlags
      privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
      privilegesTranslationsPath=privilegesTranslationsPath
      collectionActions=userListActions
      itemActionsGenerator=userActionsGenerator
      effectiveItemActionsGenerator=effectiveUserActionsGenerator as |list|}}
      {{#list.item as |listItem|}}
        {{#listItem.header
          class="text-center"
          disableToggleIcon=true
          isCollapsible=false
          hasCheckbox=false
          truncate=false}}
          <span class="one-label">
            {{tt this "noUsersStart"}}
            <a {{action "inviteUserUsingToken"}}>{{tt this "noUsersInvite"}}</a>
            {{tt this "noUsersEnd"}}
          </span>
        {{/listItem.header}}
      {{/list.item}}
    {{/members-collection}}
  </div>
  {{privileges-editor-modal
    privilegesGroups=groupedPrivilegesFlags
    privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
    privilegesTranslationsPath=privilegesTranslationsPath
    recordProxy=batchPrivilegesEditModalModel
    save=(action "batchPrivilegesSave")
    close=(action "batchPrivilegesEditClose")
    opened=batchPrivilegesEditActive
    processing=batchPrivilegesEditModalModel.isSaving
    treeRootText=(tt this "batchPrivilegesEditModalSelectedItems")}}
  {{join-as-user-modal
    opened=joinAsUserModalVisible
    close=(action (mut joinAsUserModalVisible) false)
    proceed=(action "join")
    processing=isJoiningAsUser
    modelType=record.entityType
    model=record}}
  {{group-create-relative-modal
    opened=createChildGroupModalVisible
    close=(action (mut createChildGroupModalVisible) false)
    proceed=(action "createChildGroup")
    processing=isCreatingChildGroup
    relatedRecord=record
    relation=(if (eq record.entityType "group") "child" "member")}}
  {{group-add-your-group-modal
    opened=addYourGroupModalVisible
    close=(action (mut addYourGroupModalVisible) false)
    proceed=(action "addYourGroup")
    processing=isAddingYourGroup
    relatedRecord=record
    relation=(if (eq record.entityType "group") "child" "member")}}
  {{remove-relation-modal
    opened=(and memberToRemove (not memberToRemove.isDeleted))
    close=(action (mut memberToRemove) null)
    proceed=(action "removeMember")
    processing=isRemovingMember
    parent=record
    child=memberToRemove}}
{{/promise-proxy-container}}
{{yield}}
