{{#sticky-element top=navigationState.globalBarHeight}}
  <div class="row content-row header-row hidden-xs has-border">
    <h1 class="with-menu">
      <span class="one-label">
        {{tt this "members"}}
      </span>
      <div class="btn-toolbar with-place-for-dots">
        {{#bs-button size="sm" onClick=(action "batchEdit") disabled=(not batchEditAvailable)}}
          {{tt this "multiedit"}}
        {{/bs-button}}
      </div>
      {{actions-toolbar isMinimized=true actionsArray=headerActions}}
    </h1>
  </div>
  {{#if visibleInvitationToken}}
    {{invitation-token-presenter
      tokenProxy=invitationTokenProxy
      tokenType=visibleInvitationToken
      generateToken=(action "generateInvitationToken")
      close=(action "hideInvitationToken")}}
  {{/if}}
{{/sticky-element}}
{{#loading-container
  isLoading=(or groupList.isPending userList.isPending)
  errorReason=(or groupList.reason userList.reason)}}
  <div class="row">
    {{#collection-permissions
      proxyList=proxyGroupModelList
      subjectType="group"
      modelsSelected=(action "modelsSelected" "group")
      listHeader=(tt this "groups")
      itemIcon="groups"
      groupedPrivilegesFlags=groupedPrivilegesFlags
      privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
      privilegesTranslationsPath=privilegesTranslationsPath
      save=(action "saveOne")
      itemActions=groupActions as |list|}}
      {{#list.item as |listItem|}}
        {{#listItem.header
          class="text-center"
          disableToggleIcon=true
          isCollapsible=false
          hasCheckbox=false
          truncate=false}}
          <span class="one-label">
            {{tt this "noSubgroupsStart"}}
            <a {{action "showInvitationToken" "group"}}>{{tt this "noSubgroupsInvite"}}</a>
            {{tt this "noSubgroupsEnd"}}
          </span>
        {{/listItem.header}}
      {{/list.item}}
    {{/collection-permissions}}
  </div>
  <div class="row">
    {{#collection-permissions
      proxyList=proxyUserModelList
      subjectType="user"
      modelsSelected=(action "modelsSelected" "user")
      listHeader=(tt this "users")
      itemIcon="user"
      groupedPrivilegesFlags=groupedPrivilegesFlags
      privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
      privilegesTranslationsPath=privilegesTranslationsPath
      save=(action "saveOne")
      itemActions=userActions as |list|}}
      {{#list.item as |listItem|}}
        {{#listItem.header
          class="text-center"
          disableToggleIcon=true
          isCollapsible=false
          hasCheckbox=false
          truncate=false}}
          <span class="one-label">
            {{tt this "noUsersStart"}}
            <a {{action "showInvitationToken" "user"}}>{{tt this "noUsersInvite"}}</a>
            {{tt this "noUsersEnd"}}
          </span>
        {{/listItem.header}}
      {{/list.item}}
    {{/collection-permissions}}
  </div>
{{/loading-container}}
{{privileges-editor-modal
  privilegesGroups=groupedPrivilegesFlags
  privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
  privilegesTranslationsPath=privilegesTranslationsPath
  modelProxy=batchEditModalModel
  save=(action "saveBatch")
  close=(action "batchEditClose")
  opened=batchEditActive
  processing=batchEditModalModel.isSaving
  treeRootText=(tt this "batchEditModalSelectedItems")}}
{{yield}}
