{{#one-collapsible-list
  hasCheckboxes=true
  class=(concat subjectType "-list")
  selectionChanged=modelsSelected
  as |list|}}
  {{list.header title=listHeader searchVisible=proxyList.length}}
  {{#each proxyList key="subject" as |modelProxy|}}
    {{#list.item selectionValue=modelProxy as |listItem|}}
      {{#listItem.header
        disableToggleIcon=itemActions.length
        class=(if modelProxy.modified "item-modified-header")}}
        <span class="item-icon-container">
          {{one-icon class="item-icon" icon=itemIcon}}
          {{one-tooltip
            title=modelProxy.subject.name
            placement="top"
            arrowPlacement="left"
            triggerEvents="hover"
          }}
        </span>
        <span class="one-label">
          {{modelProxy.subject.name}}
        </span>
        {{#if modelProxy.modified}}
          <div class="btn-toolbar hidden-xs">
            {{#one-spin-button
              action=(action save modelProxy)
              class="btn btn-sm btn-primary"}}
              {{tt this "save"}}
            {{/one-spin-button}}
            {{#bs-button size="sm" type="danger"
              disabled=modelProxy.saving
              onClick=(action "reset" modelProxy)}}
              {{tt this "reset"}}
            {{/bs-button}}
          </div>
        {{/if}}
        {{#if itemActions.length}}
          {{actions-toolbar
            isMinimized=true
            toolbarClasses=""
            toolbarToggleClasses="btn-menu-toggle"
            dropdownPlacement="auto"
            actionsArray=itemActions
            actionsArg=modelProxy}}
        {{/if}}
      {{/listItem.header}}
      {{#listItem.content}}
        {{#render-later triggerRender=listItem.isActive}}
          <div class="hidden-sm hidden-md hidden-lg text-center row content-row">
            {{#bs-button size="sm" type="primary"
              disabled=(or modelProxy.saving (not modelProxy.modified))
              onClick=(action save modelProxy)}}
              {{tt this "save"}}
            {{/bs-button}}
            
            {{#bs-button size="sm" type="danger"
              disabled=(or modelProxy.saving (not modelProxy.modified))
              onClick=(action "reset" modelProxy)}}
              {{tt this "reset"}}
            {{/bs-button}}
          </div>
          {{privileges-tree-editor
            privilegesGroups=groupedPrivilegesFlags
            privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
            privilegesTranslationsPath=privilegesTranslationsPath
            modelProxy=modelProxy
            editionEnabled=(not modelProxy.saving)}}
        {{/render-later}}
      {{/listItem.content}}
    {{/list.item}}
  {{else}}
    {{yield list}}
  {{/each}}
{{/one-collapsible-list}}
