{{#if hasAddSupportPrivilege}}
  <div class="row content-row header-row hidden-xs">
    <h1>
      <span class="one-label">
        {{tt this "header"}}
      </span>
    </h1>
  </div>

  <div class="row content-row">
    {{#bs-tab class="only-tab-bar bs-tab-onedata bs-tab-modern" as |tab|}}
      {{#tab.pane title=(tt this "requestSupport.tabName")}}
        {{content-spaces-support/request-support space=space}}
      {{/tab.pane}}
      {{#tab.pane title=(tt this "deployProvider.tabName")}}
        {{content-spaces-support/deploy-provider space=space}}
      {{/tab.pane}}
      {{#tab.pane title=(tt this "exposeData.tabName")}}
        {{content-spaces-support/expose-data space=space}}
      {{/tab.pane}}
    {{/bs-tab}}
  </div>
{{else}}
  {{#content-info
    class="scroll-breakpoint-600"
    header=(tt this "requireAddSupportHeader")
    imagePath=(root-url "assets/images/no-view.svg")
  }}
    <p class="lead">
      {{tt this "requireAddSupportText"}}
      {{#link-to 
        "onedata.sidebar.content.aspect" 
        "spaces" 
        (model-routable-id space) 
        "members"
      }}
        {{tt this "privilegeManagement"}}
      {{/link-to}}
      
    </p>
  {{/content-info}}
{{/if}}
