{{!-- FIXME: this is now providers aspect, but in fact it is an index --}}

<div class="row content-row header-row">
  <h1 class="normal-case with-menu">
    {{!-- FIXME: truncated string with edit --}}
    <span class="one-label">
      {{one-inline-editor
        value=space.name
        onSave=(action "saveSpaceName")
        class="name-editor short"
        editHint=(tt this "editSpaceNameHint")
      }}
    </span>
    {{!-- FIXME: properly implement switching between sidebar and content menu --}}
    {{#one-collapsible-toolbar showMinimized=false as |dropdown|}}
      {{#each globalActions as |act|}}
        {{!-- TODO: design and UX: should be a toggle or some icon --}}
        {{#dropdown.item
          buttonStyle=act.buttonStyle
          triggerClasses=act.class
          itemAction=act.action
        }}
          {{one-icon icon=act.icon}}
          <span class="text">{{act.title}}</span>
        {{/dropdown.item}}
      {{/each}}
    {{/one-collapsible-toolbar}}
  </h1>
  {{#one-switchable-popover-modal
    triggersConfiguration=leaveSpaceModalTriggers
    popoverClass="popover-leave-space"
    submit=(action "leave")
    as |ospm|
  }}
    {{leave-space-confirm submitAction=ospm.submit closeAction=ospm.close}}
  {{/one-switchable-popover-modal}}
</div>

<div class="row">
  {{yield}}
</div>

{{!-- FIXME: temporary styles --}}
{{!-- <div class="row full-height" style="position: relative;">
  {{content-providers class="test-1" _providersProxy=space.providerList.list}}
</div> --}}

{{!-- {{space.id}}, {{space.name}},
{{#each space.providerList.list as |provider|}}
  name: {{provider.name}},
{{/each}} --}}
