<div class="row content-row header-row hidden-xs">
  <h1 class="normal-case">
    {{#truncated-string class="one-label"}}{{space.name}}{{/truncated-string}}
    {{actions-toolbar actionsArray=globalActions isMinimized=false}}
  </h1>
</div>

<div class="row content-row">
  <div class="one-tile-container">
    {{#if (and dataProviderProxy.isFulfilled dataProviderProxy.content)}}
      {{#one-tile
        class="text-center resource-browse-tile"
        title=(tt this "tileDataTitle")
        customLink=oneproviderHrefProxy.content
        moreText=(tt this "browseFiles")}}
        <figure class="main-figure">
          <img class="main-image" src="assets/images/space-data.svg">
          {{#truncated-string tagName="span" class="one-label"}}
            {{dataProviderProxy.name}}
          {{/truncated-string}}
        </figure>
      {{/one-tile}}
    {{/if}}
    {{#resource-info-tile record=space}}
      <tr>
        <td class="property-name">{{tt this "sharesCount"}}</td>
        <td class="property-value shares-count">{{space.info.sharesCount}}</td>
      </tr>
    {{/resource-info-tile}}
    {{#if space.hasViewPrivilege}}
      {{#if isDetailsTileShown}}
        {{space-details-tile space=space}}
      {{/if}}
      {{#one-tile
        class="text-center resource-support-tile"
        title=(tt this "tileProvidersTitle")
        aspect=(if isSupported "providers" "support")
        footerText=(if isSupported (tt this "addSupport"))
        footerTextIcon=(if isSupported "provider-add")
        footerLinkToParams=(if (and isSupported hasAddSupportPrivilege)
          (array "onedata.sidebar.content.aspect" "spaces" spaceId "support")
        )
        tooltipText=noAddSupportPrivilegeTooltipText
        footerClass=(if (not hasAddSupportPrivilege) "not-allowed")
      }}
        {{#loading-container
          isLoading=(not (or space.providerList.isLoaded space.providerList.list.isFulfilled))
        }}
          {{#if isSupported}}
            <div class="support-chart-container absolute-align-middle-center full-width">
              {{space-providers-support-chart
                space=space
                providersColors=providersColors
                forceMobile=true
                hideLegend=true
              }}
            </div>
          {{else}}
            <figure class="main-figure">
              <img class="main-image" src="assets/images/space-get-support.svg">
              <span class="one-label">{{tt this "addSupport"}}</span>
            </figure>
          {{/if}}
        {{/loading-container}}
      {{/one-tile}}
      {{providers-map-tile
        class="resource-map-tile"
        providersProxy=providersProxy
        aspect=(if isSupported "providers" "support")
        title=(tt this "tileProvidersMapTitle")
      }}
      {{#if isMarketplaceTileShown}}
        {{space-marketplace-tile space=space}}
      {{/if}}
      {{resource-members-tile record=space}}
    {{/if}}
    {{#if showResourceMembershipTile}}
      {{resource-membership-tile record=space}}
    {{/if}}
    {{yield}}
  </div>
</div>
