{{#content-info
  class="scroll-breakpoint-700"
  header=(tt this "header")
  textTemplate="components/-content-clusters-deregister-text"
  imagePath=(root-url "assets/images/cluster-deregister-provider.svg")
}}
  {{#if statsProxy.isFulfilled}}
    <div class="row row-cluster-oneprovider-stats">
      <p class="text-center">
        {{tt this "statsPrefix"}}
        <strong>{{oneproviderName}}</strong>:
      </p>
      <div class="row">
        <div class="col-xs-9 col-centered">
          <div class="col-xs-12 col-sm-6">
            <ul class="info info-condensed info-gray">
              <li class="li-spaces-count">
                {{tt this "statsSupportedSpaces"}}: <span class="spaces-count-number">{{stats.spacesCount}}</span>
              </li>
              <li class="li-groups-count">
                {{tt this "statsEffectiveGroups"}}: <span class="groups-count-number">{{stats.groupsCount}}</span>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6">
            <ul class="info info-condensed info-gray continue-col">
              <li class="li-users-count">
                {{tt this "statsEffectiveUsers"}}:
                <span class="users-count-number">
                  {{stats.usersCount}}
                </span>
              </li>
              <li class="li-creation-time-count">
                {{tt this "statsActiveSince"}}:
                <span class="active-since-date">
                  {{clusterCreationTimeText}}
                </span>
              </li>
            </ul>
          </div>          
        </div>
      </div>
    </div>
  {{/if}}
  <div class="row content-row no-border row-understand-notice">
    <div class="col-xs-9 col-centered">
      {{one-checkbox 
        class="danger one-checkbox-danger one-checkbox-understand"
        checked=understandChecked
        update=(action (mut understandChecked))
      }}
      <div class="text-understand" {{action (mut understandChecked) (not understandChecked)}}>
        {{tt this "textUnderstand"}}
      </div>
    </div>
  </div>
  <div class="btn-toolbar btn-toolbar-deregister">
    {{#bs-button class="btn" type="info" onClick=(action "cancel")}}
      {{tt this "cancel"}}
    {{/bs-button}}
    {{#one-spin-button
      class="btn btn-danger btn-deregister"
      action=(action "deregister")
      disabled=(not understandChecked)
    }}
      {{tt this "confirm"}}
    {{/one-spin-button}}
  </div>
{{/content-info}}