{{!-- FIXME: real image --}}
{{#content-info
  class="scroll-breakpoint-700"
  header=(tt this "header")
  text=(tt this "text")  
  imagePath="https://media2.giphy.com/media/1hiVNxD34TpC0/giphy.gif?cid=3640f6095c87db1d5855554f414cb1ec"
}}
  {{#if statsProxy.isFulfilled}}
    <div class="row row-cluster-oneprovider-stats">
      <p>
        {{tt this "statsPrefix"}}
        <strong>{{oneproviderName}}</strong>
      </p>
      <ul class="info info-condensed">
        <li class="li-spaces-count">{{tt this "statsSupportedSpaces"}}: {{stats.spacesCount}}</li>
        <li class="li-groups-count">{{tt this "statsEffectiveGroups"}}: {{stats.groupsCount}}</li>
        <li class="li-users-count">{{tt this "statsEffectiveUsers"}}: {{stats.usersCount}}</li>
        <li class="li-creation-time-count">{{tt this "statsActiveSince"}}: {{clusterCreationTimeText}}</li>
      </ul>  
    </div>
  {{/if}}
  <div class="row row-understand-notice">
    {{one-checkbox 
      class="danger one-checkbox-danger one-checkbox-understand"
      checked=understandChecked
      update=(action (mut understandChecked))
    }}
    <div class="text-understand">
      {{tt this "textUnderstand"}}
    </div>
  </div>
  <div class="btn-toolbar btn-toolbar-deregister">
    {{#bs-button class="btn btn-sm" type="info" onClick=(action "cancel")}}
      {{tt this "cancel"}}
    {{/bs-button}}
    {{#one-spin-button
      class="btn btn-sm btn-danger btn-deregister"
      action=(action "deregister")
      disabled=(not understandChecked)
    }}
      {{tt this "confirm"}}
    {{/one-spin-button}}
  </div>
{{/content-info}}