{{#content-info
  class="scroll-breakpoint-700"
  header=(tt this "header")
  imagePath="assets/images/group-join-space.svg"
  text=(tt this "text" groupName=group.name)
  buttonLabel=(tt this "joinButton")
  buttonAction=(action "joinSpace" token)
  buttonDisabled=(not token)
  as |contentInfo|
}}
  <div class="row">
    <div class="col-xs-12">
      <input
        id="join-space-token"
        value={{token}}
        oninput={{action (mut token) value="target.value"}}
        onkeydown={{invoke-on-enter contentInfo.buttonAction}}
        placeholder={{tt this "placeholder"}}
        disabled={{contentInfo.actionInProgress}}
        class="form-control join-space-token"
      >
    </div>
  </div>
{{/content-info}}
