<div class="row content-row header-row hidden-xs">
  <h1 class="with-menu">
    <span class="one-label">
      {{tt this "header"}}
    </span>
    {{actions-toolbar actionsArray=globalActions}}
  </h1>
</div>

<div class="row">
  {{#promise-proxy-container proxy=providersProxy}}
    {{providers-list
      providersData=providersData
      selectedSpace=space
      showSelectedSpaceSupportSize=true
      showSupportedSpacesCount=false
    }}
  {{/promise-proxy-container}}
</div>



{{!-- {{#promise-proxy-container proxy=providersProxy}}
  {{#if _mobileMode}}
    <span>FIXME: mobile mode not implemented</span>
  {{else}}
    {{#one-atlas as |atlas|}}
      {{#each _providers as |provider|}}
        {{#atlas.position latitude=provider.latitude longitude=provider.longitude as |position|}}
          {{#position.point}}
            {{#link-to "onedata.sidebar.content.aspect" "providers" provider.id "index"}}
              {{provider-place
                provider=provider
                atlasWidth=atlas.width
                circleSizeScale=2
                active=(eq provider selectedProvider)
                renderDrop=(eq provider selectedProvider)}}
            {{/link-to}}
          {{/position.point}}
        {{/atlas.position}}
      {{/each}}
    {{/one-atlas}}
  {{/if}}
{{/promise-proxy-container}} --}}
