<div class="row content-row header-row hidden-xs">
  <h1>
    <span class="one-label">
      {{tt this "members"}}
    </span>
  </h1>
  <button {{action "batchEdit"}}>Batch edit</button>
</div>
<div class="row">
  {{#loading-container
    isLoading=sharedGroupList.isPending
    errorReason=sharedGroupList.reason}}
    {{#one-collapsible-list
      hasCheckboxes=true
      class="groups-list"
      selectionChanged=(action "modelsSelected" "group")
      as |list|}}
      {{list.header title=(tt this "groups")}}
      {{#each proxySharedGroupList key="subject" as |groupProxy|}}
        {{#list.item selectionValue=groupProxy as |listItem|}}
          {{#listItem.header}}
            <span class="item-icon-container">
              {{one-icon class="item-icon" icon="group"}}
              {{one-tooltip
                title=groupProxy.subject.name
                placement="top"
                arrowPlacement="left"
                triggerEvents="hover"
              }}
            </span>
            {{#if groupProxy.modified}}M{{/if}}
            <span class="one-label">
              {{groupProxy.subject.name}}
            </span>
          {{/listItem.header}}
          {{#listItem.content}}
            {{#render-later triggerRender=listItem.isActive}}
              {{permissions-tree-editor
                permissionsGroups=groupedPermissionsFlags
                permissionGroupsTranslationsPath=(concat i18nPrefix ".permissionGroups")
                permissionsTranslationsPath=(concat i18nPrefix ".permissions")
                modelProxy=groupProxy}}
            {{/render-later}}
          {{/listItem.content}}
        {{/list.item}}
      {{/each}}
    {{/one-collapsible-list}}
  {{/loading-container}}
</div>
<div class="row">
  {{#loading-container
    isLoading=sharedUserList.isPending
    errorReason=sharedUserList.reason}}
    {{#one-collapsible-list
      hasCheckboxes=true
      class="users-list"
      selectionChanged=(action "modelsSelected" "user")
      as |list|}}
      {{list.header title=(tt this "users")}}
      {{#each proxySharedUserList key="subject" as |userProxy|}}
        {{#list.item selectionValue=userProxy as |listItem|}}
          {{#listItem.header}}
            <span class="item-icon-container">
              {{one-icon class="item-icon" icon="group"}}
              {{one-tooltip
                title=userProxy.subject.name
                placement="top"
                arrowPlacement="left"
                triggerEvents="hover"
              }}
            </span>
            {{#if userProxy.modified}}M{{/if}}
            <span class="one-label">
              {{userProxy.subject.name}}
            </span>
          {{/listItem.header}}
          {{#listItem.content}}
            {{#render-later triggerRender=listItem.isActive}}
              {{permissions-tree-editor
                permissionsGroups=groupedPermissionsFlags
                permissionGroupsTranslationsPath=(concat i18nPrefix ".permissionGroups")
                permissionsTranslationsPath=(concat i18nPrefix ".permissions")
                modelProxy=userProxy}}
            {{/render-later}}
          {{/listItem.content}}
        {{/list.item}}
      {{/each}}
    {{/one-collapsible-list}}
  {{/loading-container}}
</div>
{{yield}}
{{#bs-modal
  open=batchEditActive
  onHide=(action "batchEditClose")
  class="batch-privileges-edit"
  as |modal|}}
  {{#modal.body}}
    {{#loading-container
      isLoading=batchEditModalModel.model.isPending
      errorReason=batchEditModalModel.model.reason}}
      {{permissions-tree-editor
        permissionsGroups=groupedPermissionsFlags
        permissionGroupsTranslationsPath=(concat i18nPrefix ".permissionGroups")
        permissionsTranslationsPath=(concat i18nPrefix ".permissions")
        modelProxy=batchEditModalModel}}
    {{/loading-container}}
  {{/modal.body}}
{{/bs-modal}}
