{{#unless (eq harvesterSpacesProxy.length 0)}}
  <div class="row content-row header-row hidden-xs">
    <h1 class="with-menu">
      <span class="one-label">
        {{tt this "header"}}
      </span>
      {{actions-toolbar isMinimized=true actionsArray=globalActions}}
    </h1>
  </div>
{{/unless}}
{{#promise-proxy-container proxy=harvesterSpacesProxy}}
  {{#if (eq harvesterSpacesProxy.length 0)}}
    {{#content-info
      imagePath=(root-url "assets/images/harvester-space-new.svg")
      class="scroll-breakpoint-800"
      header=(tt this "harvesterSpaces")
      text=(tt this "noSpaces")}}
      <div class="action-buttons">
        {{#one-button
          class="btn btn-primary btn-content-info btn-add-your-space"
          onClick=(action (mut isAddYourSpaceModalOpened) true)}}
          {{tt this "addYourSpace"}}
        {{/one-button}}
        &#32;
        {{#one-button
          class="btn btn-primary btn-content-info btn-invite-space"
          onClick=(action "inviteSpaceUsingToken")}}
          {{inviteSpaceUsingTokenAction.title}}
        {{/one-button}}
      </div>
    {{/content-info}}
  {{else}}
    {{resources-list
      items=spaceItems
      isResourceWithAdditionalInfo=true
    }}
  {{/if}}
{{/promise-proxy-container}}

{{add-your-space-modal
  opened=isAddYourSpaceModalOpened
  close=(action (mut isAddYourSpaceModalOpened) false)
  proceed=(action "addYourSpace")
  processing=isAddingYourSpace
  relatedRecord=harvester
  relation="sourceFor"}}
