{{!-- FIXME: this is now providers aspect, but in fact it is an index --}}

<div class="row content-row header-row">
  <h1 class="normal-case with-menu">
    {{!-- FIXME: truncated string with edit --}}
    <span class="one-label">
      {{one-inline-editor
        value=space.name
        onSave=(action "saveSpaceName")
        class="name-editor short"
        editHint=(tt this "editSpaceNameHint")
      }}
    </span>
    {{!-- FIXME: properly implement switching between sidebar and content menu --}}
    {{#one-collapsible-toolbar isGlobal=false showInMobileSidebar=false as |dropdown|}}
      {{!-- TODO: design and UX: should be a toggle or some icon --}}
      {{#dropdown.item
        buttonStyle="default"
        triggerClasses="btn-default-space"
        itemAction=(action "toggleDefaultSpace")
      }}
        {{one-icon icon=(if isDefaultSpace "home" "home-outline")}}
        <span class="text">{{tt this (if isDefaultSpace "unsetDefault" "setDefault")}}</span>
      {{/dropdown.item}}
      {{#dropdown.item
        buttonStyle="primary"
        triggerClasses="btn-add-storage"
        itemAction=(action "openAddSupport")
      }}
        {{one-icon icon="provider-add"}}
        <span class="text">{{tt this "addSupport"}}</span>
      {{/dropdown.item}}
      {{#dropdown.item
        buttonStyle="danger"
        triggerClasses="btn-leave-space"
        itemAction=(action "openLeaveModal")
      }}
        {{one-icon icon="leave-space"}}
        <span class="text">{{tt this "leave"}}</span>
      {{/dropdown.item}}
    {{/one-collapsible-toolbar}}
  </h1>
  {{#one-switchable-popover-modal
    triggersConfiguration=".btn-leave-space.btn;a.btn-leave-space:modal"
    popoverClass="popover-leave-space"
    submit=(action "leave")
    as |ospm|
  }}
    {{leave-space-confirm submitAction=ospm.submit closeAction=ospm.close}}
  {{/one-switchable-popover-modal}}
</div>

<div class="row">
  {{yield}}
</div>

{{!-- FIXME: temporary styles --}}
{{!-- <div class="row full-height" style="position: relative;">
  {{content-providers class="test-1" _providersProxy=space.providerList.list}}
</div> --}}

{{!-- {{space.id}}, {{space.name}},
{{#each space.providerList.list as |provider|}}
  name: {{provider.name}},
{{/each}} --}}
