{{#sticky-element top=navigationState.globalBarHeight}}
  <div class="row content-row header-row hidden-xs has-border">
    <h1 class="with-menu">
      <span class="one-label">
        {{tt this "members"}}
      </span>
      <div class="btn-toolbar with-place-for-dots">
        {{#bs-button size="sm" onClick=(action "batchEdit") disabled=(not batchEditAvailable)}}
          {{tt this "multiedit"}}
        {{/bs-button}}
      </div>
      {{actions-toolbar isMinimized=true actionsArray=headerActions}}
    </h1>
  </div>
  {{#if visibleInvitationToken}}
    <div class="row content-row token-row has-border">
      <h1>
        <span class="one-label">{{tt this (concat visibleInvitationToken "InvitationToken")}}</span>
        {{one-icon icon="close" class="close-icon" click=(action "hideInvitationToken")}}
      </h1>
      {{#promise-proxy-container proxy=invitationTokenProxy sizeClass="sm"}}
        <div class="inner-row-content">
          <textarea class="token-textarea invitation-token form-control" rows="2" readonly>{{invitationTokenProxy.content}}</textarea>
          {{#copy-button
            success=(action "copyTokenSuccess")
            error=(action "copyTokenError")
            class="btn btn-sm btn-primary pull-left"
            clipboardTarget=".token-textarea.invitation-token"}}
            {{one-icon icon="clipboard-copy"}} {{tt this "copy"}}
          {{/copy-button}}
          <a class="clickable btn-get-token pull-right" {{action "generateInvitationToken"}}>
            {{tt this "generateToken"}}
          </a>
        </div>
      {{/promise-proxy-container}}
    </div>
  {{/if}}
{{/sticky-element}}
{{#loading-container
  isLoading=(or sharedGroupList.isPending sharedUserList.isPending)
  errorReason=(or sharedGroupList.reason sharedUserList.reason)}}
  <div class="row">
    {{collection-permissions
      proxyList=proxyGroupModelList
      subjectType="group"
      modelsSelected=(action "modelsSelected" "group")
      listHeader=(tt this "groups")
      itemIcon="group"
      groupedPrivilegesFlags=groupedPrivilegesFlags
      privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
      privilegesTranslationsPath=privilegesTranslationsPath
      save=(action "saveOne")}}
  </div>
  <div class="row">
    {{collection-permissions
      proxyList=proxyUserModelList
      subjectType="user"
      modelsSelected=(action "modelsSelected" "user")
      listHeader=(tt this "users")
      itemIcon="user"
      groupedPrivilegesFlags=groupedPrivilegesFlags
      privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
      privilegesTranslationsPath=privilegesTranslationsPath
      save=(action "saveOne")}}
  </div>
{{/loading-container}}
{{#bs-modal
  open=batchEditActive
  onHide=(action "batchEditClose")
  class="batch-privileges-edit"
  as |modal|}}
  {{#modal.body}}
    {{#modal.header}}
      <h1>{{tt this "batchEditModalHeader"}}</h1>
    {{/modal.header}}
    <div class="tree-container">
      {{#if batchEditModalModel.model.isFulfilled}}
        <div class="batch-edit-tree-title hidden-xs">
          {{one-icon icon="group"}}
          <span class="one-label">{{tt this "batchEditModalSelectedItems"}}</span>
        </div>
      {{/if}}
      {{privileges-tree-editor
        privilegesGroups=groupedPrivilegesFlags
        privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
        privilegesTranslationsPath=privilegesTranslationsPath
        modelProxy=batchEditModalModel}}
    </div>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action "batchEditClose")}}
      {{tt this "batchEditModalCancel"}}
    {{/bs-button}}
    {{#if batchEditModalModel.model.isFulfilled}}
      {{#one-spin-button
        class="btn btn-primary"
        action=(action "saveBatch")}}
        {{tt this "batchEditModalSave"}}
      {{/one-spin-button}}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
{{yield}}
