{{#sticky-element}}
  <div class="row content-row header-row hidden-xs has-border">
    <h1 class="with-menu">
      <span class="one-label">
        {{tt this "members"}}
      </span>
      <div class="btn-toolbar with-place-for-dots">
        {{#bs-button class="btn btn-sm" onClick=(action "batchEdit") disabled=(not batchEditAvailable)}}Multiedit{{/bs-button}}
      </div>
      {{actions-toolbar isMinimized=true actionsArray=headerActions}}
    </h1>
  </div>
{{/sticky-element}}
<div class="row">
  {{collection-permissions
    isLoadingList=sharedGroupList.isPending
    loadingListError=sharedGroupList.reason
    proxyList=proxySharedGroupList
    subjectType="group"
    modelsSelected=(action "modelsSelected" "group")
    listHeader=(tt this "groups")
    itemIcon="group"
    groupedPrivilegesFlags=groupedPrivilegesFlags
    privilegeGroupsTranslationsPath=(concat i18nPrefix ".privilegeGroups")
    privilegesTranslationsPath=(concat i18nPrefix ".privileges")
    save=(action "saveOne")
    reset=(action "reset")}}
</div>
<div class="row">
  {{collection-permissions
    isLoadingList=sharedUserList.isPending
    loadingListError=sharedUserList.reason
    proxyList=proxySharedUserList
    subjectType="user"
    modelsSelected=(action "modelsSelected" "user")
    listHeader=(tt this "users")
    itemIcon="user"
    groupedPrivilegesFlags=groupedPrivilegesFlags
    privilegeGroupsTranslationsPath=(concat i18nPrefix ".privilegeGroups")
    privilegesTranslationsPath=(concat i18nPrefix ".privileges")
    save=(action "saveOne")
    reset=(action "reset")}}
</div>
{{yield}}
{{#bs-modal
  open=batchEditActive
  onHide=(action "batchEditClose")
  class="batch-privileges-edit"
  as |modal|}}
  {{#modal.body}}
    {{#modal.header}}
      <h1>{{tt this "batchEditModalHeader"}}</h1>
    {{/modal.header}}
    {{#loading-container
      isLoading=batchEditModalModel.model.isPending
      errorReason=batchEditModalModel.model.reason}}
      {{privileges-tree-editor
        privilegesGroups=groupedPrivilegesFlags
        privilegeGroupsTranslationsPath=(concat i18nPrefix ".privilegeGroups")
        privilegesTranslationsPath=(concat i18nPrefix ".privileges")
        modelProxy=batchEditModalModel}}
    {{/loading-container}}
  {{/modal.body}}
  {{#if batchEditModalModel.model.isFulfilled}}
    {{#modal.footer}}
      {{#bs-button class="btn btn-warning" onClick=(action "batchEditClose")}}{{tt this "batchEditModalCancel"}}{{/bs-button}}
      {{#one-spin-button
        class="btn btn-primary"
        action=(action "saveBatch")}}
        {{tt this "batchEditModalSave"}}
      {{/one-spin-button}}
    {{/modal.footer}}
  {{/if}}
{{/bs-modal}}
