{{yield}}
<div class="content-row">
  <h1>{{tt this "name"}}</h1>
  <div class="name-container">{{user.name}}</div>
</div>
<div class="content-row">
  <h1>{{tt this "login"}}</h1>
  <div class="login-container">{{user.login}}</div>
</div>
<div class="content-row">
  <h1>{{tt this "authorizers"}}</h1>
</div>
