{{#content-info
  class="scroll-breakpoint-600"
  header=(tt this "addSupportHeader")
  text=(tt this "leadText")
}}
  <p class="lead">
    <ul class="info">
      <li>
        {{tt this "p1_1"}}
        {{#link-to "onedata.sidebar" "spaces"}}
          {{tt this "manageSpacesHead"}}
        {{/link-to}}
        {{tt this "p1_2"}}
        {{#link-to "onedata.sidebar.content" "spaces" "new"}}
          {{tt this "create"}}
        {{/link-to}}
        {{tt this "p1_3"}}
      </li>
      <li>
        {{tt this "pIfYouHave"}}
        <strong>{{tt this "space"}} {{tt this "invitationToken"}}</strong>,
        {{#link-to "onedata.sidebar.content" "tokens" "join"}}
          {{tt this "joinSpace"}}
        {{/link-to}}
      </li>
      <li>
        {{tt this "pIfYouHave"}}
        <strong>{{tt this "group"}} {{tt this "invitationToken"}}</strong>,
        {{#link-to "onedata.sidebar.content" "tokens" "join"}}
          {{tt this "joinGroup"}}
        {{/link-to}}
        {{tt this "p3_1"}}
      </li>
    </ul>  
  </p>
{{/content-info}}
