{{#content-info
    class="scroll-breakpoint-600"
    header=(tt this "header")
    text=(tt this "text")
}}
  <p class="lead">
    <ul class="info">
      <li>
        {{tt this "addSupportIfAdministrator"}}
        {{#link-to "onedata.sidebar.content.aspect" "support" class="btn-add-support"}}
          <div class="inline-icon-container provider-add-icon-container">
            {{one-icon icon="provider-add" class="provider-add-icon"}}
          </div>
          {{tt this "addSupportLink"}}
        {{/link-to}}
        {{tt this "addSupportChoose"}}
      </li>
      <li>
        {{tt this "contactUser"}}
      </li>
    </ul>  
  </p>
{{/content-info}}
