<div class="row content-row header-row hidden-xs">
  <h1>
    <span class="one-label">
      {{tt this "members"}}
    </span>
  </h1>
</div>
<div class="row">
  {{#loading-container
    isLoading=(not groupPermissionListLoaded)
    errorReason=groupPermissionListLoadError}}
    {{#one-collapsible-list class="groups-list" as |list|}}
      {{list.header title=(tt this "groups")}}
      {{#each proxyGroupPermissionList key="id" as |groupPermissions|}}
        {{#list.item as |listItem|}}
          {{#listItem.header}}
            <span class="item-icon-container">
              {{one-icon class="item-icon" icon="group"}}
              {{one-tooltip
                title=groupPermissions.model.sharedGroup.name
                placement="top"
                arrowPlacement="left"
                triggerEvents="hover"
              }}
            </span>
            {{#if groupPermissions.modified}}M{{/if}}
            <span class="one-label">
              {{groupPermissions.model.sharedGroup.name}}
            </span>
          {{/listItem.header}}
          {{#listItem.content}}
            {{#render-later triggerRender=listItem.isActive}}
              {{permissions-tree-editor
                permissionsGroups=groupedPermissionsFlags
                permissionGroupsTranslationsPath=(concat i18nPrefix ".permissionGroups")
                permissionsTranslationsPath=(concat i18nPrefix ".permissions")
                actualPermissions=groupPermissions.persistedPermissions
                permissionsChanged=(action "permissionsModified" groupPermissions)}}
            {{/render-later}}
          {{/listItem.content}}
        {{/list.item}}
      {{/each}}
    {{/one-collapsible-list}}
  {{/loading-container}}
</div>
<div class="row">
  {{#loading-container
    isLoading=(not userPermissionListLoaded)
    errorReason=userPermissionListLoadError}}
    {{#one-collapsible-list class="users-list" as |list|}}
      {{list.header title=(tt this "users")}}
      {{#each proxyUserPermissionList key="id" as |userPermissions|}}
        {{#list.item as |listItem|}}
          {{#listItem.header}}
            <span class="item-icon-container">
              {{one-icon class="item-icon" icon="user"}}
              {{one-tooltip
                title=groupPermissions.model.sharedUser.name
                placement="top"
                arrowPlacement="left"
                triggerEvents="hover"
              }}
            </span>
            {{#if groupPermissions.modified}}M{{/if}}
            <span class="one-label">
              {{userPermissions.model.sharedUser.name}}
            </span>
          {{/listItem.header}}
          {{#listItem.content}}
            {{#render-later triggerRender=listItem.isActive}}
              {{permissions-tree-editor
                permissionsGroups=groupedPermissionsFlags
                permissionGroupsTranslationsPath=(concat i18nPrefix ".permissionGroups")
                permissionsTranslationsPath=(concat i18nPrefix ".permissions")
                actualPermissions=userPermissions.persistedPermissions
                permissionsChanged=(action "permissionsModified" userPermissions)}}
            {{/render-later}}
          {{/listItem.content}}
        {{/list.item}}
      {{/each}}
    {{/one-collapsible-list}}
  {{/loading-container}}
</div>
{{yield}}
