<ul>
  <li>type: {{cluster.type}}</li>
  <li>serviceId: {{cluster.serviceId}}</li>
  <li>name: {{cluster.name}}</li>
  <li>domain: <a href={{concat "https://" cluster.domain ":9443" }}>{{cluster.domain}}</a></li>
  <li>onepanelProxy: {{cluster.onepanelProxy}}</li>
</ul>
