{{#error-check-view
  tryErrorCheckProxy=tryErrorCheckProxy
  errorCheckProxy=errorCheckProxy
}}
  {{#content-info
    class="scroll-breakpoint-700"
    header=(tt this "header")
    imagePath=(root-url "assets/images/no-connection.svg")
  }}
    <p class="lead">
      <ul class="info">
        <li>
          {{tt this "liMakeSure1"}}
          <a href={{emergencyOnepanelUrl}}>{{tt this "liMakeSureLink"}}</a>.
        </li>
        <li>
          {{tt this "liTryAgain1"}}
          {{#link-to
            "onedata.sidebar.content.aspect"
            "clusters"
            (model-routable-id cluster)
            "overview"
          }}
            {{tt this "liTryAgainLink"}}
          {{/link-to}}
          {{tt this "liTryAgain2"}}.
        </li>
        {{#if (eq cluster.type "oneprovider")}}
          <li>
            {{tt this "liDeregister1"}}
            {{#link-to
              "onedata.sidebar.content.aspect"
              "clusters"
              clusterEntityId
              "deregister"
              class="text-danger"
            }}{{tt this "liDeregisterLink"}}{{/link-to}}.
          </li>
        {{/if}}
      </ul>
    </p>
  {{/content-info}}
{{/error-check-view}}
