<div class="row content-row header-row">
  <h1>{{cluster.name}}</h1>
</div>

{{!-- FIXME: make common structure for listing --}}
<div class="item-table-cell item-table-content-cell">
  <div class="row content-row">
    <span class="item-table-key">Type</span>
    <span class="item-table-value">{{cluster.type}}</span>
  </div>
  <div class="row content-row">
    {{one-clipboard-line size="sm" label="Service ID" value=cluster.serviceId}}
  </div>
  <div class="row content-row">
    {{one-clipboard-line size="sm" label="Domain" value=cluster.domain}}
    <a href={{onepanelHref}} class="btn btn-primary btn-sm btn-go-to-onepanel">
      Go to Onepanel
    </a>
  </div>
  <div class="row content-row">
    <span class="item-table-key">Onepanel proxy</span>
    <span class="item-table-value">{{one-way-toggle checked=cluster.onepanelProxy isReadOnly=false}}</span>
  </div>
</div>

{{!-- 
<div class="row content-row no-border">
  <ul class="one-list">
    <li class="one-list-item">
      
      
    </li>
    <li class="one-list-item"></li>
    <li class="one-list-item">
      
    </li>
  </ul>  
</div> --}}
