<div class="row content-row header-row hidden-xs no-border">
  <h1 class="with-menu">
    <span class="one-label">
      {{tt this "hierarchy"}}
    </span>
    {{actions-toolbar isMinimized=true actionsArray=globalActions}}
  </h1>
  <div class="form-group form-group-sm form-group-light search-group content-search with-place-for-dots">
    <div class="input-group with-icon-addon">
      {{search-bar search=(action (mut searchString)) class="form-control"}}
      <div class="input-group-addon">
        {{one-icon icon="search"}}
      </div>
    </div>
  </div>
</div>
<div class="ghv-outer-container">
  {{groups-hierarchy-visualiser
    group=group
    searchString=searchString
    resetTrigger=resetTrigger}}
</div>
