<div class="row content-row header-row hidden-xs">
  <h1 class="with-menu">
    <span class="one-label">
      {{tt this "header"}}
    </span>
    {{actions-toolbar isMinimized=true actionsArray=globalActions}}
  </h1>
</div>
{{#promise-proxy-container proxy=spacesProxy}}
  {{#if (eq spacesProxy.length 0)}}
    {{#content-info
      imagePath=(root-url "assets/images/harvester-space-new.svg")
      class="scroll-breakpoint-800 preserve-header"
      header=(tt this "harvesterSpaces")
      text=(tt this "noSpaces")}}
      <p class="text-center">
        {{#bs-button
          class="btn btn-primary btn-content-info btn-add-your-space"
          onClick=(action (mut isAddYourSpaceModalOpened) true)}}
          {{tt this "addYourSpace"}}
        {{/bs-button}}
      </p>
      <p class="text-center">
        {{#bs-button
          class="btn btn-primary btn-content-info btn-invite-space"
          onClick=(action (mut isInviteUsingTokenModalOpened) true)}}
          {{tt this "inviteSpaceUsingToken"}}
        {{/bs-button}}
      </p>
    {{/content-info}}
  {{else}}
    <div class="row">
      {{#one-collapsible-list as |list|}}
        {{#each spacesProxy key="id" as |space|}}
          {{#list.item as |listItem|}}
            {{#listItem.header isCollapsible=false}}
              <span class="item-icon-container">
                {{one-icon class="item-icon" icon="space"}}
                {{one-tooltip
                  title=space.name
                  placement="top"
                  arrowPlacement="left"
                  triggerEvents="hover"
                }}
              </span>
              <span class="one-label">{{space.name}}</span>
              {{actions-toolbar
                isMinimized=true
                toolbarClasses=""
                toolbarToggleClasses="btn-menu-toggle"
                dropdownPlacement="auto"
                actionsArray=spaceActions
                actionsArg=space}}
            {{/listItem.header}}
          {{/list.item}}
        {{/each}}
      {{/one-collapsible-list}}
    </div>
  {{/if}}
{{/promise-proxy-container}}

{{content-harvesters-spaces/remove-space-modal
  opened=(and spaceToRemove (not spaceToRemove.isDeleted))
  close=(action (mut spaceToRemove) null)
  proceed=(action "removeSpace")
  processing=isRemovingSpace
  space=spaceToRemove
  harvester=harvester}}
{{add-your-space-modal
  opened=isAddYourSpaceModalOpened
  close=(action (mut isAddYourSpaceModalOpened) false)
  proceed=(action "addYourSpace")
  processing=isAddingYourSpace
  relatedRecord=harvester
  relation="sourceFor"}}
{{invite-using-token-modal
  opened=isInviteUsingTokenModalOpened
  close=(action (mut isInviteUsingTokenModalOpened) false)
  tokenType="space"
  record=harvester}}
