<div class="row content-row header-row hidden-xs has-border">
  <h1 class="with-menu">
    <span class="one-label">
      {{tt this "header"}}
    </span>
    {{actions-toolbar isMinimized=true actionsArray=globalActions}}
  </h1>
</div>
<div class="row">
  {{#promise-proxy-container proxy=spacesProxy}}
    {{#one-collapsible-list as |list|}}
      {{#each spacesProxy key="id" as |space|}}
        {{#list.item as |listItem|}}
          {{#listItem.header isCollapsible=false}}
            <span class="item-icon-container">
              {{one-icon class="item-icon" icon="space"}}
              {{one-tooltip
                title=space.name
                placement="top"
                arrowPlacement="left"
                triggerEvents="hover"
              }}
            </span>
            <span class="one-label">{{space.name}}</span>
            {{actions-toolbar
              isMinimized=true
              toolbarClasses=""
              toolbarToggleClasses="btn-menu-toggle"
              dropdownPlacement="auto"
              actionsArray=spaceActions
              actionsArg=space}}
          {{/listItem.header}}
        {{/list.item}}
      {{else}}
        {{#list.item as |listItem|}}
          {{#listItem.header
            isCollapsible=false
            class="text-center"}}
            <span class="one-label">
              {{tt this "noSpacesStart"}}
              <a {{action (mut isAddYourSpaceModalOpened) true}}>{{tt this "noSpacesAdd"}}</a>
              {{tt this "noSpacesOr"}}
              <a {{action (mut isInviteUsingTokenModalOpened) true}}>{{tt this "noSpacesInvite"}}</a>
              {{tt this "noSpacesEnd"}}
            </span>
          {{/listItem.header}}
        {{/list.item}}
      {{/each}}
    {{/one-collapsible-list}}
  {{/promise-proxy-container}}
</div>
{{content-harvesters-spaces/remove-space-modal
  opened=(and spaceToRemove (not spaceToRemove.isDeleted))
  close=(action (mut spaceToRemove) null)
  proceed=(action "removeSpace")
  processing=isRemovingSpace
  space=spaceToRemove
  harvester=harvester}}
{{content-harvesters-spaces/create-space-modal
  opened=isCreateSpaceModalOpened
  close=(action (mut isCreateSpaceModalOpened) false)
  proceed=(action "createSpace")
  processing=isCreatingSpace
  harvester=harvester}}
{{add-your-space-modal
  opened=isAddYourSpaceModalOpened
  close=(action (mut isAddYourSpaceModalOpened) false)
  proceed=(action "addYourSpace")
  processing=isAddingYourSpace
  relatedRecord=harvester
  relation="sourceFor"}}
{{invite-using-token-modal
  opened=isInviteUsingTokenModalOpened
  close=(action (mut isInviteUsingTokenModalOpened) false)
  tokenType="space"
  record=harvester}}
