{{#sticky-element top=navigationState.globalBarHeight}}
  <div class="row content-row header-row hidden-xs has-border">
    <h1 class="with-menu">
      <span class="one-label">
        {{tt this "privilegesTitle"}}
      </span>
      <div class="btn-toolbar with-place-for-dots">
        {{#bs-button size="sm" onClick=(action "batchEdit") disabled=(not batchEditAvailable)}}
          {{tt this "multiedit"}}
        {{/bs-button}}
      </div>
      {{actions-toolbar isMinimized=true actionsArray=headerActions}}
    </h1>
  </div>
  {{#if visibleInvitationToken}}
    {{invitation-token-presenter
      tokenProxy=invitationTokenProxy
      tokenType=visibleInvitationToken
      generateToken=(action "generateInvitationToken")
      close=(action "hideInvitationToken")}}
  {{/if}}
{{/sticky-element}}
{{#loading-container
  isLoading=(or sharedGroupList.isPending sharedUserList.isPending)
  errorReason=(or sharedGroupList.reason sharedUserList.reason)}}
  <div class="row">
    {{collection-permissions
      proxyList=proxyGroupModelList
      subjectType="group"
      modelsSelected=(action "modelsSelected" "group")
      listHeader=(tt this "groups")
      itemIcon="group"
      groupedPrivilegesFlags=groupedPrivilegesFlags
      privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
      privilegesTranslationsPath=privilegesTranslationsPath
      save=(action "saveOne")}}
  </div>
  <div class="row">
    {{collection-permissions
      proxyList=proxyUserModelList
      subjectType="user"
      modelsSelected=(action "modelsSelected" "user")
      listHeader=(tt this "users")
      itemIcon="user"
      groupedPrivilegesFlags=groupedPrivilegesFlags
      privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
      privilegesTranslationsPath=privilegesTranslationsPath
      save=(action "saveOne")}}
  </div>
{{/loading-container}}
{{privileges-batch-edit-modal
  privilegesGroups=groupedPrivilegesFlags
  privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
  privilegesTranslationsPath=privilegesTranslationsPath
  modelProxy=batchEditModalModel
  save=(action "saveBatch")
  close=(action "batchEditClose")
  modalActive=batchEditActive}}
{{yield}}
