{{#bs-modal
  class="fatal-connection-error-modal alert-global"
  open=opened
  keyboard=false
  backdropClose=false
  as |modal|
}}
  {{#modal.header}}
    <h1>
      {{one-icon icon="sign-warning-rounded"}}
      <span class="one-label">{{tt this "header"}}</span>
    </h1>
  {{/modal.header}}
  {{#modal.body}}
    {{tt this "textIntro"}}
    {{tt this "textTryToReload"}}
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#one-spin-button
      action=(action "reload")
      class="btn btn-default"
    }}
      {{tt this "reload"}}
    {{/one-spin-button}}
  {{/modal.footer}}
{{/bs-modal}}
