{{#proceed-process-modal
  opened=opened
  close=close
  proceed=(action "create")
  processing=processing
  modalClass="group-create-relative-modal"
  headerText=(tt this "createRelativeGroup" relation=relation)
  proceedButtonClass="btn btn-primary proceed"
  proceedButtonText=(tt this "create")
  proceedDisabled=proceedDisabled
  onShown=(action "onShown")}}
  <p class="input-top-description">
    {{tt this "enterRelativeGroupName"
      relation=relation
      groupName=relatedGroup.name}}
  </p>
  <input
    value={{newGroupName}}
    oninput={{action (mut newGroupName) value="target.value"}}
    onkeydown={{invoke-on-enter (action "redirectToSubmit")}}
    placeholder={{tt this "newGroupNamePlaceholder" relation=relation}}
    disabled={{processing}}
    class="form-control modal-input create-relative-group-name">
{{/proceed-process-modal}}
