{{#bs-modal
  class="group-invite-using-token-modal"
  open=opened
  onHide=close
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this "inviteUsingToken"}}</h1>
  {{/modal.header}}
  {{#modal.body}}
    {{#promise-proxy-container proxy=tokenProxy sizeClass="sm"}}
      <p class="input-top-description">{{tt this "passGeneratedToken"}}</p>
      <textarea class="token-textarea invitation-token form-control" rows="4" readonly>{{tokenProxy.content}}</textarea>
      <p class="text-right">
        <a class="clickable btn-get-token" {{action "generateToken"}}>
          {{tt this "generateToken"}}
        </a>
      </p>
    {{/promise-proxy-container}}
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button onClick=close}}
      {{tt this "close"}}
    {{/bs-button}}
    {{#if tokenProxy.isFulfilled}}
      {{#copy-button
        disabled=(not tokenProxy.isFulfilled)
        success=(action "copyTokenSuccess")
        error=(action "copyTokenError")
        class="btn btn-primary"
        clipboardTarget=".token-textarea.invitation-token"}}
        {{one-icon icon="clipboard-copy"}} {{tt this "copy"}}
      {{/copy-button}}
    {{else}}
      {{!-- copy-button does not support disabled property properly, so replacing it with plain bs-button --}}
      {{#bs-button disabled=true}}
        {{one-icon icon="clipboard-copy"}} {{tt this "copy"}}
      {{/bs-button}}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
