{{#if subjectDescription}}
  <p class="subject-description">
    {{subjectDescription}}
  </p>
{{/if}}
<p class="limitations-description">
  <span class="limitations-text">{{limitationsDescription}}</span>
  {{#if showCustomTokenLink}}
    <a
      href={{customTokenUrl}}
      class="custom-token-action"
      {{action onCustomTokenClick preventDefault=false}}
    >
      {{tt this "customTokenLabel"}}
    </a>
    {{tt this "postCustomTokenLabel"}}
  {{/if}}
</p>
{{#promise-proxy-container proxy=generatedTokenProxy sizeClass="sm"}}
  {{one-clipboard-line
    value=generatedTokenProxy.content
    type="textarea"
    inputClass="token-textarea"
    textareaRows=7
  }}
{{/promise-proxy-container}}
{{yield}}
