{{#if subjectDescription}}
  <p class="subject-description">
    {{subjectDescription}}
  </p>
{{/if}}
{{#promise-proxy-container proxy=dataLoadingProxy sizeClass="sm"}}
  <p class="limitations-description">
    <span class="limitations-text">{{limitationsDescription}}</span>
    {{#if showCustomTokenLink}}
      <a
        href={{customTokenUrlProxy.content}}
        class="custom-token-action"
        {{action onCustomTokenClick preventDefault=false}}
      >
        {{tt this "customTokenLabel"}}
      </a>
      {{tt this "postCustomTokenLabel"}}
    {{/if}}
  </p>
  {{one-clipboard-line
    value=generatedTokenProxy.content
    type="textarea"
    inputClass="token-textarea"
    textareaRows=7
  }}
  {{#if variablesDescription}}
    <p class="variables-description">
      {{variablesDescription.content}}
      {{#if variablesDescription.tip}}
        {{one-label-tip title=variablesDescription.tip}}
      {{/if}}
    </p>
  {{/if}}
{{/promise-proxy-container}}
{{yield}}
