<figure class="invite-subject-image">
  <img class="subject-image" src={{root-url invitedModelImagePath}}>
  <figcaption class="subject-image-label">
    {{#if joiningRecord}}
      <div class="subject-description">
        {{#truncated-string class="text subject-name"}}
          {{joiningRecord.name}}
        {{/truncated-string}}
        {{one-icon
          icon="browser-info"
          class="record-info-icon joining-record-info-trigger popover-info-trigger"
          click=(action
            (mut joiningRecordInfoOpened)
            (not joiningRecordInfoOpened)
            bubbles=false
          )
        }}
        {{#record-info-popover
          isOpened=joiningRecordInfoOpened
          triggerSelector=(local-selector elementId ".joining-record-info-trigger")
        }}
          {{component (concat joiningModelName "-info-content")
            record=joiningRecord
          }}
        {{/record-info-popover}}
      </div>
    {{else}}
      {{#truncated-string class="text select-below-label"}}
        {{placeholderUnderSubjectImage}}
      {{/truncated-string}}
    {{/if}}
  </figcaption>
</figure>
<figure class="join-arrow-image">
  <figcaption class="arrow-label">
    {{tt this (concat 'label.' arrowLabelType)}}
  </figcaption>
  <div class="arrow"></div>
</figure>
<figure class="invite-target-image">
  <img class="subject-image" src={{root-url inviteTargetModelImagePath}}>
  <figcaption class="subject-image-label subject-name">
    <div class="subject-description">
      {{#if inviteTargetRecord.name}}
        {{#truncated-string class="text"}}
          {{inviteTargetRecord.name}}
        {{/truncated-string}}
        {{one-icon
          icon="browser-info"
          class="record-info-icon target-record-info-trigger popover-info-trigger"
          click=(action
            (mut targetRecordInfoOpened)
            (not targetRecordInfoOpened)
            bubbles=false
          )
        }}
        {{#record-info-popover
          isOpened=targetRecordInfoOpened
          triggerSelector=(local-selector elementId ".target-record-info-trigger")
        }}
          {{component inviteTargetInfoComponentName
            record=inviteTargetRecord
            showDetails=showDetailsInTargetInfoPopover
          }}
        {{/record-info-popover}}
      {{else}}
        {{#truncated-string class="text unknown-text"}}
          {{tt this "placeholderUnderSubjectImage"}}
        {{/truncated-string}}
        {{one-icon
          id=recordIdInfoTriggerId
          icon="circle-id"
          class="record-info-icon id-icon icon-trigger id-trigger clickable"
        }}
        {{#one-webui-popover
          class="id-info"
          popoverStyle="id-info"
          triggerSelector=(concat "#" recordIdInfoTriggerId)
          as |popover|
        }}
          <div class="form-group without-margin">
            <label class="control-label">
              {{tt this "recordId" targetModelName=inviteTargetModelNameTranslation}}:
            </label>
            {{one-clipboard-line
              size="sm"
              value=inviteTargetRecord.entityId
              showText=false
              btnType="default"
            }}
          </div>
        {{/one-webui-popover}}
      {{/if}}
    </div>
  </figcaption>
</figure>
