<div class="row content-row header-row">
  <h1 class="with-back relative nowrap">
    <a class="content-back-link" {{action "backSlide"}}>
      {{one-icon icon=backResourceIcon class="content-back-resource-icon"}}
      {{one-icon icon="arrow-left" class="content-back-arrow-icon"}}
    </a>
    {{!-- Using nbsp to preserve height of the line in case of empty header --}}
    <div class="resource-name">{{or headerText (html-safe "&nbsp;")}}</div>
  </h1>
</div>

{{#if (eq state "loading")}}
  {{spin-spinner-block sizeClass="md"}}
{{else if (eq state "notFound")}}
  {{resource-not-found}}
{{else if (eq state "forbidden")}}
  {{errors/no-permissions}}
{{else if (eq state "otherError")}}
  {{resource-load-error reason=loadingProxy.reason}}
{{/if}}
{{yield}}
