{{#one-collapsible-list
  hasCheckboxes=true
  class=(concat subjectType "-list")
  selectionChanged=recordsSelected
  isListCollapsed=(unbound (and (gt collapseForNumber 0) (gt proxyList.length collapseForNumber)))
  as |list|}}
  {{#list.header
    title=(concat listHeader " (" proxyList.length ")")
    searchVisible=proxyList.length
    withPlaceForDots=true}}
    {{actions-toolbar
      isMinimized=true
      toolbarClasses=""
      toolbarToggleClasses="btn-menu-toggle"
      dropdownPlacement="auto"
      actionsArray=collectionActions}}
  {{/list.header}}
  {{#each proxyList key="subject" as |recordProxy|}}
    {{#list.item selectionValue=recordProxy as |listItem|}}
      {{#listItem.header
        disableToggleIcon=itemActions.length
        class=(if recordProxy.isModified "item-modified-header")}}
        <span class="item-icon-container">
          {{one-icon
            class="item-icon"
            icon=(if (eq subjectType "user") "user" (oneicon-name-translator "group" recordProxy.subject.type))}}
          {{one-tooltip
            title=recordProxy.subject.name
            placement="top"
            arrowPlacement="left"
            triggerEvents="hover"
          }}
        </span>
        <span class="one-label">
          {{recordProxy.subject.name}}
        </span>
        {{#if recordProxy.isModified}}
          <div class="btn-toolbar hidden-xs">
            {{#one-spin-button
              action=(action save recordProxy)
              class="btn btn-sm btn-primary"}}
              {{tt this "save"}}
            {{/one-spin-button}}
            {{#bs-button size="sm" type="danger"
              disabled=recordProxy.isSaving
              onClick=(action "reset" recordProxy)}}
              {{tt this "reset"}}
            {{/bs-button}}
          </div>
        {{/if}}
        {{#if itemActions.length}}
          {{actions-toolbar
            isMinimized=true
            toolbarClasses=""
            toolbarToggleClasses="btn-menu-toggle"
            dropdownPlacement="auto"
            actionsArray=itemActions
            actionsArg=recordProxy}}
        {{/if}}
      {{/listItem.header}}
      {{#listItem.content}}
        {{#render-later triggerRender=listItem.isActive}}
          <div class="hidden-sm hidden-md hidden-lg text-center row content-row">
            {{#bs-button size="sm" type="primary"
              disabled=(or recordProxy.saving (not recordProxy.isModified))
              onClick=(action save recordProxy)}}
              {{tt this "save"}}
            {{/bs-button}}
            
            {{#bs-button size="sm" type="danger"
              disabled=(or recordProxy.saving (not recordProxy.isModified))
              onClick=(action "reset" recordProxy)}}
              {{tt this "reset"}}
            {{/bs-button}}
          </div>
          {{#if (eq aspect "privileges")}}
            {{privileges-tree-editor
              privilegesGroups=groupedPrivilegesFlags
              privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
              privilegesTranslationsPath=privilegesTranslationsPath
              recordProxy=recordProxy}}
          {{else if (eq aspect "memberships")}}
            {{membership-visualiser
              contextRecord=recordProxy.subject
              targetRecord=contextRecord
              showDescription=showDescription}}
          {{/if}}
        {{/render-later}}
      {{/listItem.content}}
    {{/list.item}}
  {{else}}
    {{yield list}}
  {{/each}}
{{/one-collapsible-list}}
