{{#promise-proxy-container proxy=membersList}}
  {{#one-collapsible-list
    hasCheckboxes=true
    class=(concat subjectType "-list")
    selectionChanged=recordsSelected
    isListCollapsed=isListCollapsed
    listCollapsed=(action "listCollapsed")
    resetSelectionTrigger=membersList
    as |list|}}
    {{#list.header
      title=(concat listHeader " (" membersList.length ")")
      searchVisible=membersList.length
      withPlaceForDots=true}}
      {{actions-toolbar
        isMinimized=true
        toolbarClasses=""
        toolbarToggleClasses="btn-menu-toggle"
        dropdownPlacement="auto"
        actionsArray=collectionActions}}
    {{/list.header}}
    {{#each membersProxyList key="id" as |memberProxy|}}
      {{#list.item
        class="member-item"
        selectionValue=(if (and (not onlyDirect) (not (contains memberProxy.member directMembersList))) null memberProxy)
        as |listItem|}}
        {{#listItem.header
          disableToggleIcon=itemActions.length
          class=(if memberProxy.privilegesProxy.isModified "item-modified-header")}}
          <span class="item-icon-container">
            {{one-icon
              class="item-icon"
              icon=(if (eq subjectType "group") (oneicon-alias memberProxy.member.type) "user")}}
            {{one-tooltip
              title=memberProxy.member.name
              placement="top"
              arrowPlacement="left"
              triggerEvents="hover"
            }}
          </span>
          <span class="one-label">
            {{memberProxy.member.name}}
          </span>
          <span class="labels-container">
            {{#if memberProxy.isYou}}
              <span class="space"></span><span class="label label-primary">{{tt this "you"}}</span>
            {{/if}}
            {{#if (and (not onlyDirect) (contains memberProxy.member directMembersList))}}
              <span class="space"></span><span class="label label-info">{{tt this "direct"}}</span>
            {{/if}}
          </span>
          {{#if (and showSaveCancel memberProxy.privilegesProxy.isModified)}}
            <div class="btn-toolbar hidden-xs">
              {{#one-spin-button
                action=(action "savePrivileges" memberProxy)
                class="btn btn-sm btn-primary"}}
                {{tt this "save"}}
              {{/one-spin-button}}
              {{#bs-button size="sm" type="danger"
                disabled=memberProxy.privilegesProxy.isSaving
                onClick=(action "reset" memberProxy)}}
                {{tt this "reset"}}
              {{/bs-button}}
            </div>
          {{/if}}
          {{#if (get (if (contains memberProxy.member directMembersList) itemActions effectiveItemAction) "length")}}
            {{actions-toolbar
              isMinimized=true
              toolbarClasses=""
              toolbarToggleClasses="btn-menu-toggle"
              dropdownPlacement="auto"
              actionsArray=(if (contains memberProxy.member directMembersList) itemActions effectiveItemAction)
              actionsArg=memberProxy.member}}
          {{/if}}
        {{/listItem.header}}
        {{#listItem.content}}
          {{#render-later triggerRender=listItem.isActive}}
            {{#if showSaveCancel}}
              <div class="hidden-sm hidden-md hidden-lg text-center row content-row">
                {{#bs-button size="sm" type="primary"
                  disabled=(or memberProxy.privilegesProxy.saving (not memberProxy.privilegesProxy.isModified))
                  onClick=(action "savePrivileges" memberProxy)}}
                  {{tt this "save"}}
                {{/bs-button}}
                {{#bs-button size="sm" type="danger"
                  disabled=(or memberProxy.privilegesProxy.saving (not memberProxy.privilegesProxy.isModified))
                  onClick=(action "reset" memberProxy)}}
                  {{tt this "reset"}}
                {{/bs-button}}
              </div>
            {{/if}}
            {{#if (eq aspect "privileges")}}
              {{privileges-tree-editor
                privilegesGroups=groupedPrivilegesFlags
                privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
                privilegesTranslationsPath=privilegesTranslationsPath
                recordProxy=memberProxy.privilegesProxy}}
            {{else if (eq aspect "memberships")}}
              {{membership-visualiser
                contextRecord=memberProxy.member
                targetRecord=record
                showDescription=showMembershipDescription}}
            {{/if}}
          {{/render-later}}
        {{/listItem.content}}
      {{/list.item}}
    {{else}}
      {{yield list}}
    {{/each}}
  {{/one-collapsible-list}}
{{/promise-proxy-container}}
