{{#promise-proxy-container proxy=allMembersLoadingProxy}}
  {{#one-collapsible-list
    hasCheckboxes=true
    class=(concat subjectType "-list")
    selectionChanged=recordsSelected
    isListCollapsed=isListCollapsed
    listCollapsed=(action "listCollapsed")
    resetSelectionTrigger=members
    as |list|
  }}
    {{#list.header
      title=(concat listHeader " (" members.length ")")
      searchVisible=members.length
      withPlaceForDots=true
    }}
      {{actions-toolbar
        isMinimized=true
        toolbarClasses=""
        toolbarToggleClasses="btn-menu-toggle"
        dropdownPlacement="auto"
        actionsArray=collectionActions
      }}
    {{/list.header}}
    {{#each membersProxyList key="id" as |memberProxy|}}
      {{#list.item
        class=(concat-classes "member-item" (concat "member-" memberProxy.member.entityId))
        selectionValue=(if (and (not onlyDirect) (not (contains memberProxy.member directMembers))) null memberProxy)
        as |listItem|
      }}
        {{#listItem.header
          disableToggleIcon=true
          class=(if memberProxy.privilegesProxy.isModified "item-modified-header")
        }}
          {{record-info-with-icon
            record=memberProxy.member
          }}
          <div class="right-container">
            {{#if (and showSaveCancel memberProxy.privilegesProxy.isModified)}}
              <span class="hidden-xs">
                {{#one-button
                  type="primary"
                  buttonType="submit"
                  size="sm"
                  onClick=(action "savePrivileges" memberProxy)
                  class="save-btn"
                }}
                  {{tt this "save"}}
                {{/one-button}}
                <span class="space"></span>
                {{#bs-button
                  size="sm"
                  type="warning"
                  class="discard-btn"
                  disabled=memberProxy.privilegesProxy.isSaving
                  onClick=(action "discardChanges" memberProxy)
                }}
                  {{tt this "discard"}}
                {{/bs-button}}
                <span class="space"></span><span class="space"></span>
              </span>
            {{/if}}
            <span class="labels-container">
              {{#if memberProxy.isYou}}
              <span class="space"></span><span class="label label-primary">{{tt this "you"}}</span>
              {{/if}}
              {{#if memberProxy.isOwner}}
                <span class="space"></span><span class="label label-info">{{tt this "owner"}}</span>
              {{/if}}
              {{#if (and (not onlyDirect) (contains memberProxy.member directMembers))}}
                <span class="space"></span><span class="label label-default">{{tt this "direct"}}</span>
              {{/if}}
            </span>
          </div>
          {{#if memberProxy.actions.length}}
            {{actions-toolbar
              isMinimized=true
              toolbarClasses=""
              toolbarToggleClasses="btn-menu-toggle"
              dropdownPlacement="auto"
              actionsArray=memberProxy.actions
              actionsArg=memberProxy.member
            }}
          {{/if}}
        {{/listItem.header}}
        {{#listItem.content}}
          {{#render-later triggerRender=listItem.isActive}}
            {{#if showSaveCancel}}
              <div class="hidden-sm hidden-md hidden-lg text-center row content-row">
                {{#bs-button size="sm" type="primary"
                  disabled=(or memberProxy.privilegesProxy.saving (not memberProxy.privilegesProxy.isModified))
                  onClick=(action "savePrivileges" memberProxy)
                }}
                  {{tt this "save"}}
                {{/bs-button}}
                {{#bs-button
                  size="sm"
                  type="warning"
                  class="discard-btn"
                  disabled=(or memberProxy.privilegesProxy.saving (not memberProxy.privilegesProxy.isModified))
                  onClick=(action "discardChanges" memberProxy)
                }}
                  {{tt this "discard"
                }}
                {{/bs-button}}
              </div>
            {{/if}}
            {{#if (eq aspect "privileges")}}
              {{#if memberProxy.isOwner}}
                <div class="alert alert-warning privileges-of-owner-warning">
                  {{tt this "ownerPrivilegesWarning"
                    model=(tt this
                      (concat "ownerPrivilegesWarningModels." record.constructor.modelName)
                    )
                  }}
                </div>
              {{/if}}
              {{record-privileges-tree-editor
                privilegesGroups=groupedPrivilegesFlags
                privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
                privilegesTranslationsPath=privilegesTranslationsPath
                recordProxy=memberProxy.privilegesProxy
              }}
            {{else if (eq aspect "memberships")}}
              {{membership-visualiser
                contextRecord=memberProxy.member
                targetRecord=record
                showDescription=showMembershipDescription
              }}
            {{/if}}
          {{/render-later}}
        {{/listItem.content}}
      {{/list.item}}
    {{else}}
      {{yield list}}
    {{/each}}
  {{/one-collapsible-list}}
{{/promise-proxy-container}}
