{{#promise-proxy-container proxy=initialProvidersListProxy}}
  {{#if hasSupport}}
    <div class="row content-header-section">
      {{#promise-proxy-container proxy=isEmbeddableOneproviderProxy}}
        {{#if (or isEmbeddableOneprovider (not selectedProvider))}}
          {{yield (hash
            header=(component "oneprovider-view-container/container-header")
          )}}
        {{/if}}
      {{/promise-proxy-container}}
      <div class="row row-content-tab-bar">
        {{one-tab-bar
          class=(concat-classes
            "space-providers-tab-bar"
            tabBarClass
            (if mapSelectorEnabled "with-map-selector")
          )
          items=overviewProviderItems
          selectedItem=selectedProviderItem
          selectDefaultOnInit=true
          selectedItemChanged=(action "selectedProviderChanged")
          tabBarLiComponentName="provider-tab-li"
          isSorted=false
        }}
      </div>
    </div>
    {{#if (not-eq oneproviderId "overview")}}
      <div
        class={{concat-classes
        "row absolute-flex-content-child-stretch oneprovider-view-container-inner"
        contentContainerClass
      }}>
        {{#if showAllOfflineInfo}}
          {{content-info
            header=(tt this "allOneprovidersOffline")
            imagePath=(root-url "assets/images/data-error-no-providers.svg")
            class="preserve-header scroll-breakpoint-600"
          }}
        {{else}}
          {{#promise-proxy-container proxy=oneproviderViewProxy}}
            {{#if isEmbeddableOneprovider}}
              {{#if selectedProvider.online}}
                {{yield (hash
                  body=(component "oneprovider-view-container/container-body")
                  contentIframeBaseUrl=contentIframeBaseUrl
                  selectedProvider=selectedProvider
                )}}
              {{else}}
                {{content-info
                  header=(tt this "oneproviderOffline")
                  imagePath=(root-url "assets/images/no-connection.svg")
                  class="preserve-header scroll-breakpoint-600"
                }}
              {{/if}}
            {{else}}
              {{content-provider-redirect
                provider=selectedProvider
                spaceId=space.entityId
                resourceType=resourceType
              }}
            {{/if}}
          {{/promise-proxy-container}}
        {{/if}}
      </div>
    {{else}}
      {{yield (hash
        body=(component "oneprovider-view-container/container-body")
        contentIframeBaseUrl=contentIframeBaseUrl
        selectedProvider="overview"
      )}}
    {{/if}}
  {{else}}
    {{content-spaces-no-support class="cancel-absolute-flex-content-padding"}}
  {{/if}}
{{/promise-proxy-container}}
