{{#bs-modal
  open=modalActive
  onHide=close
  class="batch-privileges-edit"
  as |modal|}}
  {{#modal.body}}
    {{#modal.header}}
      <h1>{{tt this "batchEditModalHeader"}}</h1>
    {{/modal.header}}
    <div class="tree-container">
      {{#if modelProxy.model.isFulfilled}}
        <div class="batch-edit-tree-title hidden-xs">
          {{one-icon icon="group"}}
          <span class="one-label">{{tt this "batchEditModalSelectedItems"}}</span>
        </div>
      {{/if}}
      {{privileges-tree-editor
        privilegesGroups=privilegesGroups
        privilegeGroupsTranslationsPath=privilegeGroupsTranslationsPath
        privilegesTranslationsPath=privilegesTranslationsPath
        modelProxy=modelProxy}}
    </div>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=close}}
      {{tt this "batchEditModalCancel"}}
    {{/bs-button}}
    {{#if modelProxy.model.isFulfilled}}
      {{#one-spin-button
        class="btn btn-primary"
        action=save}}
        {{tt this "batchEditModalSave"}}
      {{/one-spin-button}}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
