{{#truncated-string
  class="oneprovider-name"
  mouseEnter=(action "changeIconHover" true)
  mouseLeave=(action "changeIconHover" false)
}}
  <div
    class="inline-icon-container provider-info-trigger"
    {{action
      (mut providerInfoOpened)
      (not providerInfoOpened)
      bubbles=false
    }}
  >
    <div
      class={{concat-classes
        "inline-icon-container"
        (if providerInfoOpened "not-animation" "animation")
      }}
    >
      {{one-icon icon="provider" color=iconColor}}
      {{one-icon icon="browser-info"}}
    </div>
  </div>
  <span class="tab-name one-label">{{provider.name}}</span>
{{/truncated-string}}{{yield}}
{{#record-info-popover
  isOpened=providerInfoOpened
  triggerSelector=(concat "#" elementId " .provider-info-trigger")
}}
  {{provider-info-content
    provider=provider
  }}
{{/record-info-popover}}
