{{#if (eq item.type "provider")}}
  {{record-info-with-icon
    record=provider
    recordType="provider"
    class=(concat "provider-info-name nav-link truncate " (if isActive "active"))
    click=(action "anchorClicked")
  }}
  {{#unless isInRequiredVersion}}
    {{#one-icon class="provider-warning-icon" icon="sign-warning-rounded"}}
      {{one-tooltip title=(tt this "versionTooLowWarning")}}
    {{/one-icon}}
  {{/unless}}
{{else if (eq item.type "overview")}}
  <div
    class={{concat-classes "nav-link truncate" (if isActive "active")}}
    onclick={{action "anchorClicked"}}
    ignoreTouchAction=true
  >
    <div class="inline-icon-container not-animation">
      {{one-icon icon=item.icon}}
    </div>
    <span class="tab-name one-label">{{tt this "overviewName"}}</span>
  </div>
{{/if}}
