{{#truncated-string
  class="oneprovider-name flippable-icons-with-text"
  mouseEnter=(action "changeIconHover" true)
  mouseLeave=(action "changeIconHover" false)
}}
  <div
    class="icon-container provider-info-trigger popover-info-trigger"
    {{action
      (mut providerInfoOpened)
      (not providerInfoOpened)
      bubbles=false
    }}
  >
    {{flippable-icons
      iconName="provider"
      isHovered=isIconHovered
      suppressFlipping=providerInfoOpened
      iconColor=iconColor
    }}
  </div>
  <span class="tab-name one-label">{{provider.name}}</span>
{{/truncated-string}}{{yield}}
{{#record-info-popover
  isOpened=providerInfoOpened
  triggerSelector=(concat "#" elementId " .provider-info-trigger")
}}
  {{provider-info-content
    provider=provider
  }}
{{/record-info-popover}}
