<div class="form-horizontal space-configuration-form fill-flex-using-column">
  <div class="form-group space-name-form-group">
    <label class="control-label">{{tt this "spaceName.label"}}:</label>
    {{one-inline-editor
      class="space-name"
      value=space.name
      onSave=(action "saveValue" "name")
    }}
  </div>
  <div class="form-group organization-name-form-group">
    <label class="control-label">
      {{tt this "organizationName.label"}}:
      {{one-label-tip title=(tt this "organizationName.tip")}}
    </label>
    {{one-inline-editor
      class="organization-name"
      value=space.organizationName
      onSave=(action "saveValue" "organizationName")
    }}
  </div>
  <div class="form-group space-tags-form-group">
    <label class="control-label">
      {{tt this "spaceTags.label"}}:
    </label>
    {{one-inline-editor
      class="space-tags"
      editorType="tags"
      value=spaceTags
      onSave=(action "saveValue" "tags")
    }}
  </div>
  <div class="form-group description-form-group">
    <label class="control-label">
      {{tt this "description.label"}}:
    </label>
    {{#bs-button-group
      value=descriptionEditorMode
      class="description-editor-mode-selector flex-aligned"
      type="radio"
      onChange=(action (mut descriptionEditorMode)) as |bg|
    }}
      <div class="btn-group" role="group">
        {{#bg.button type="default" class="btn-sm btn-description-view" value="view"}}
          {{one-icon
            class="tab-icon"
            icon="view"
          }}
          <div class="tab-name">{{tt this "description.radio.view"}}</div>
        {{/bg.button}}
      </div>
      <div class="btn-group" role="group">
        {{#bg.button type="default" class="btn-sm btn-description-edit" value="edit"}}
          {{one-icon
            class="tab-icon"
            icon="markdown"
          }}
          <div class="tab-name">{{tt this "description.radio.edit"}}</div>
        {{/bg.button}}
      </div>
    {{/bs-button-group}}
    {{#if isDescriptionModified}}
      <div class="description-submit-buttons">
        {{#one-button
          type="warning"
          size="sm"
          onClick=(action "discardValue" "description")
        }}
          {{tt this "discard"}}
        {{/one-button}}
        {{#one-button
          type="primary"
          size="sm"
          onClick=(action "saveValue" "description" currentDescription)
        }}
          {{tt this "save"}}
        {{/one-button}}
      </div>
    {{/if}}
    <hr class="description-separator">
  </div>
  <div class={{concat-classes
    "form-group description-content-form-group"
    (if (eq descriptionEditorMode "edit") "fill-flex-using-column")
    (if
      (and (eq descriptionEditorMode "view") isCurrentDescriptionEmpty)
      "description-empty"
    )
  }}
  >
    {{#if (eq descriptionEditorMode "view")}}
      {{#perfect-scrollbar-element
        class="space-description-markdown-container"
      }}
        {{#unless isCurrentDescriptionEmpty}}
          {{one-markdown-to-html
            class="markdown-view space-description-markdown-view"
            markdown=currentDescription
          }}
        {{else}}
          <div
            class="description-empty-message"
            onclick={{action (mut descriptionEditorMode) "edit"}}
          >
            <span class="description-empty-text">{{tt this "description.emptyText"}}</span>
            {{one-icon icon="rename" class="description-empty-icon"}}
          </div>
        {{/unless}}
      {{/perfect-scrollbar-element}}
    {{/if}}
    {{#render-later triggerRender=(eq descriptionEditorMode "edit")}}
      {{ember-ace
        class=(concat-classes
          "fill-flex-using-column"
          (unless (eq descriptionEditorMode "edit") "hidden")
        )
        editorClass="fill-flex-using-column"
        value=currentDescription
        mode="ace/mode/markdown"
        theme="ace/theme/textmate"
        tabSize=2
        useWrapMode=true
        highlightActiveLine=true
        showLineNumbers=true
        showPrintMargin=false
        readOnly=false
        update=(action "currentDescriptionChanged")
      }}
    {{/render-later}}
  </div>
  <div class="form-group advertised-form-group">
    <label class="control-label">
      {{tt this "advertised.label"}}:
    </label>
    {{one-way-toggle
      class="form-control"
      isReadOnly=false
      checked=isAdvertised
      update=(action "saveValue" "advertised")
      lockHint=undefined
    }}
  </div>
  {{#if isAdvertised}}
    <div class="form-group contact-email-form-group">
      <label class="control-label">
        {{tt this "contactEmail.label"}}:
      </label>
      {{one-inline-editor
        class="concact-email"
        value=space.contactEmail
        onSave=(action "saveValue" "contactEmail")
      }}
    </div>
  {{/if}}
</div>
