{{#one-tile
  title=(tt this "title")
  isLink=isLink
  class=tileClass
  aspect=aspect
  moreText=moreText
}}
  {{!-- FIXME: może lepiej tutaj użyć ikony? --}}
  {{#unless description}}
    <figure class="main-figure">
      <img class="main-image " src="assets/images/settings-circle-filled.svg">
      {{#if centeredMessage}}
        <div class="figure-text-centered">{{centeredMessage}}</div>
      {{/if}}
    </figure>
  {{/unless}}
  {{#if organizationName}}
    <div class="tile-data organization-name-row">
      {{one-icon icon="organization" class="organization-name-icon"}}
      <span class="organization-name">{{organizationName}}</span>
    </div>
  {{/if}}
  {{#unless noTags}}
    {{tags-input
      class="tile-data space-tags static-value"
      tags=inputTags
      readonly=true
      readonlyTagsDisplayLimit=readonlyTagsDisplayLimit
    }}
  {{/unless}}
  {{#if description}}
    <div class="tile-data description-row">
      {{one-markdown-to-html
        class="markdown-view"
        markdown=description
      }}
    </div>
  {{/if}}
{{/one-tile}}