<div class="token-container">
  <input
    type="text"
    class="token-string form-control"
    placeholder={{tt this "tokenInputPlaceholder"}}
    oninput={{action "tokenChanged" value="target.value"}}
    value={{token}}
    disabled={{isTokenInputDisabled}}
  >
  {{#if pendingCheckTime}}
    {{spin-spinner-block sizeClass="xs"}}
  {{/if}}
</div>
{{#if invalidTokenErrorOccured}}
  <div class="invalid-token-message alert alert-warning" role="alert">
    {{tt this "invalidTokenMessage"}}
  </div>
{{else if error}}
  {{#if knownVerificationErrorOccurred}}
    <div class="alert alert-warning" role="alert">
      {{errorTranslation}}
    </div>
  {{else}}
    {{resource-load-error reason=error}}
  {{/if}}
{{/if}}
{{#one-collapse collapsed=(not (and isTokenChecked isTokenValid))}}
  {{#if typeText}}
    <div class="type-info">
      <p class="token-type">
        {{typeText}}
        {{#if (media "isMobile")}}
          {{one-icon
            id=recordIdInfoTriggerId
            icon="circle-id"
            class="record-info-icon id-icon icon-trigger id-trigger clickable"
          }}
          {{#one-webui-popover
            class="id-info"
            popoverStyle="id-info token-invite-target-id-info"
            triggerSelector=(concat "#" recordIdInfoTriggerId)
            as |popover|
          }}
            <div class="form-group without-margin">
              <label class="control-label">
                {{tt this "recordId" targetModelName=inviteTargetModelNameTranslation}}:
              </label>
              {{one-clipboard-line
                size="sm"
                value=inviteTargetRecord.entityId
                showText=false
                btnType="default"
              }}
            </div>
          {{/one-webui-popover}}
        {{/if}}
      </p>
      {{#if hasUnresolvedTargetName}}
        <div class="invalid-token-message alert alert-warning" role="alert">
          <p class="unresolved-target-warning">
            {{tt this "unresolvedTargetWarning"
              targetModelName=inviteTargetModelNameTranslation
            }}
          </p>
          <p class="unresolved-target-warning-details">
            {{tt this "unresolvedTargetWarningDetails"
              targetModelName=inviteTargetModelNameTranslation
            }}
          </p>
        </div>
      {{/if}}
      {{#unless (or (media "isMobile") noJoinMessage)}}
        {{join-image
          class="consume-token-image"
          joiningModelName=(or joiningRecordSelectorModelName "user")
          joiningRecord=(if joiningRecordSelectorModelName
            selectedJoiningRecordOption.value
            currentUser
          )
          inviteTargetModelName=inviteTargetModelName
          inviteTargetModelNameTranslation=inviteTargetModelNameTranslation
          inviteTargetRecord=inviteTargetRecord
          arrowLabelType=(if spaceHarvesterRelationToken "add" "join")
          placeholderUnderSubjectImage=(tt this "placeholderUnderSubjectImage")
        }}
      {{/unless}}
    </div>
  {{/if}}
  {{#if noJoinMessage}}
    <div class="no-join-message alert alert-warning" role="alert">
      {{noJoinMessage}}
    </div>
  {{/if}}
  {{#if joiningRecordSelectorModelName}}
    <div class="joining-record-container">
      {{#promise-proxy-container proxy=joiningRecordSelectorOptionsProxy sizeClass="sm"}}
        <p class="selector-description">{{joiningRecordSelectorDescription}}</p>
        <div class="joining-record-selector">
          <OneDropdown
            @options={{joiningRecordSelectorOptionsProxy}}
            @onChange={{action (mut selectedJoiningRecordOption)}}
            @selected={{selectedJoiningRecordOption}}
            @placeholder={{tt this
              (concat "recordSelectorPlaceholder." joiningRecordSelectorModelName)
            }}
            @searchEnabled={{true}}
            as |recordOption|
          >
            <div class="option-container">
              {{one-icon icon=recordOption.icon}}
              {{#truncated-string class="text"}}
                {{name-conflict item=recordOption.value}}
              {{/truncated-string}}
            </div>
          </OneDropdown>
        </div>
      {{/promise-proxy-container}}
    </div>
  {{/if}}
  {{#if showJoinBtn}}
    <div class="option-buttons">
      {{#one-button
        class="discard-btn btn btn-lg btn-warning"
        onClick=(action "cancel")
      }}
        {{tt this "cancelBtn"}}
      {{/one-button}}
      {{#one-button
        type="primary"
        size="lg"
        class="confirm-btn"
        disabled=isConfirmBtnDisabled
        onClick=(action "confirm")
      }}
        {{tt this "confirmBtn"}}
      {{/one-button}}
    </div>
  {{/if}}
{{/one-collapse}}
{{yield}}
