<form class="form form-horizontal form-component">
  {{form-component/field-renderer field=basicGroup}}
  {{#if (or (eq mode "create") tokenDataSource.hasCaveats)}}
    <h1
      class={{concat-classes
        "toggle-expand caveats-expand"
        (if caveatsGroup.isExpanded "opened")
        (if (not disableCaveatsCollapse) "clickable")
      }}
      onClick={{if (not disableCaveatsCollapse) (action "toggleCaveatsGroup")}}
    >
      {{tt this "fields.caveats.header"}}
      {{#if (not disableCaveatsCollapse)}}
        {{one-icon
          icon=(if caveatsGroup.isExpanded "arrow-up" "arrow-down")
          class="toggle-icon"
        }}
      {{/if}}
    </h1>
    {{form-component/field-renderer field=caveatsGroup}}
  {{/if}}
  {{#if (not-eq mode "view")}}
    {{#one-spin-button
      class="btn btn-primary submit-token"
      disabled=(not fields.isValid)
      type="button"
      action=(action "submit")
    }}
      {{tt this "createToken"}}
    {{/one-spin-button}}
  {{/if}}
</form>
{{yield}}
