<div class="token-container">
  <input
    type="text"
    class="token-string form-control"
    placeholder={{tt this "tokenInputPlaceholder"}}
    oninput={{action "tokenChanged" value="target.value"}}
    value={{token}}
    disabled={{isTokenInputDisabled}}
  >
  {{#if pendingCheckTime}}
    {{spin-spinner-block sizeClass="xs"}}
  {{/if}}
</div>
{{#if invalidTokenErrorOccured}}
  <div class="invalid-token-message alert alert-warning" role="alert">
    {{tt this "invalidTokenMessage"}}
  </div>
{{else if error}}
  {{#if knownVerificationErrorOccurred}}
    <div class="alert alert-warning" role="alert">
      {{errorTranslation}}
    </div>
  {{else}}
    {{resource-load-error reason=error}}
  {{/if}}
{{/if}}
{{#one-collapse collapsed=(not (and isTokenChecked isTokenValid))}}
  {{#if typeText}}
    <div class="type-info">
      <p class="token-type">
        {{typeText}}
        {{#if hasUnresolvedTargetName}}
          <img
            class="warning-icon {{elementId}}-warning-icon"
            src={{root-url "assets/images/sign-warning-large.svg"}}
          >
          {{one-tooltip
            title=(tt this "unresolvedTargetWarning")
            triggerElement=(concat "." elementId "-warning-icon")
            triggerEvent="hover"
          }}
        {{/if}}
        {{#if (media "isMobile")}}
          {{id-info
            idType=inviteTargetModelName
            idValue=inviteTargetId
          }}
        {{/if}}
      </p>
      {{#unless (or (media "isMobile") noJoinMessage)}}
        {{#promise-proxy-container proxy=inviteTargetRecord}}
          {{join-image
            class="consume-token-image"
            joiningModelName=(or joiningRecordSelectorModelName "user")
            joiningRecord=(if joiningRecordSelectorModelName
              selectedJoiningRecordOption.value
              currentUser
            )
            inviteTargetModelName=inviteTargetModelName
            inviteTargetRecord=inviteTargetRecord.content
            arrowLabelType=(if spaceHarvesterRelationToken "add" "join")
            placeholderUnderSubjectImage=(tt this "placeholderUnderSubjectImage")
          }}
        {{/promise-proxy-container}}
      {{/unless}}
    </div>
  {{/if}}
  {{#if noJoinMessage}}
    <div class="no-join-message alert alert-warning" role="alert">
      {{noJoinMessage}}
    </div>
  {{/if}}
  {{#if joiningRecordSelectorModelName}}
    <div class="joining-record-container">
      {{#promise-proxy-container proxy=joiningRecordSelectorOptionsProxy sizeClass="sm"}}
        <p class="selector-description">{{joiningRecordSelectorDescription}}</p>
        <div class="joining-record-selector">
          {{#one-dropdown
            options=joiningRecordSelectorOptionsProxy
            onchange=(action (mut selectedJoiningRecordOption))
            selected=selectedJoiningRecordOption
            placeholder=(tt this
              (concat "recordSelectorPlaceholder." joiningRecordSelectorModelName)
            )
            as |recordOption|
          }}
            <div class="option-container">
              {{one-icon icon=recordOption.icon}}
              {{#truncated-string class="text"}}
                {{name-conflict item=recordOption.value}}
              {{/truncated-string}}
            </div>
          {{/one-dropdown}}
        </div>
      {{/promise-proxy-container}}
    </div>
  {{/if}}
  {{#if showJoinBtn}}
    <div class="option-buttons">
      {{#bs-button
        class="discard-btn btn btn-lg btn-warning"
        onClick=(action "cancel")
      }}
        {{tt this "cancelBtn"}}
      {{/bs-button}}
      {{#one-button
        type="primary"
        size="lg"
        class="confirm-btn"
        disabled=isConfirmBtnDisabled
        onClick=(action "confirm")
      }}
        {{tt this "confirmBtn"}}
      {{/one-button}}
    </div>
  {{/if}}
{{/one-collapse}}
{{yield}}
