{{!-- FIXME: i18n czekamy na ŁO z tekstem --}}
<p>
  A token is a short text information, which can be used to grant access to specific operations and data (like files, statistics, etc.), work as an user identity proof or be an invitation to become a member of some resource (e.g. space). To create a token, please choose one of predefined templates below. Then you will see details of the choosen token with a possibility to adjust it's properties before creation.
  <br><strong>Notice:</strong> invitation token templates are available through members view of each resource.
</p>
{{#one-collapsible-list as |list|}}
  {{#list.item as |listItem|}}
    {{#listItem.header}}<h1>Basic</h1>{{/listItem.header}}
    {{#listItem.content}}
      <div class="one-tile-container">
        {{token-template-selector/onezone-rest-template onSelected=onTemplateSelected}}
        {{token-template-selector/oneprovider-rest-template onSelected=onTemplateSelected}}
        {{token-template-selector/oneclient-template onSelected=onTemplateSelected}}
      </div>
    {{/listItem.content}}
  {{/list.item}}
  {{#list.item as |listItem|}}
    {{#listItem.header}}<h1>Advanced</h1>{{/listItem.header}}
    {{#listItem.content}}
      <div class="one-tile-container">
        {{token-template-selector/oneclient-in-oneprovider-template onSelected=onTemplateSelected}}
        {{token-template-selector/readonly-data-template onSelected=onTemplateSelected}}
        {{token-template-selector/readonly-data-for-user-template onSelected=onTemplateSelected}}
        {{token-template-selector/restricted-data-template onSelected=onTemplateSelected}}
        {{token-template-selector/identity-template onSelected=onTemplateSelected}}
      </div>
    {{/listItem.content}}
  {{/list.item}}
  {{#list.item as |listItem|}}
    {{#listItem.header}}<h1>Custom</h1>{{/listItem.header}}
    {{#listItem.content}}
      <div class="one-tile-container">
        {{token-template-selector/custom-template onSelected=onTemplateSelected}}
      </div>
    {{/listItem.content}}
  {{/list.item}}
{{/one-collapsible-list}}

{{yield}}
