<p>{{tt this "intro.tokenDefinition"}} {{one-doc-see-more docPath="using_onedata/tokens.html"}}</p>
<p>{{tt this "intro.templatesDescription"}}</p>
<p>{{tt this "intro.inviteTokensNote"}}</p>
{{#one-collapsible-list as |list|}}
  {{#list.item as |listItem|}}
    {{#listItem.header}}<h1>{{tt this "templateCategories.basic"}}</h1>{{/listItem.header}}
    {{#listItem.content}}
      <div class="one-tile-container">
        {{token-template-selector/oneclient-template onSelected=onTemplateSelected}}
        {{token-template-selector/oneprovider-rest-template onSelected=onTemplateSelected}}
        {{token-template-selector/onezone-rest-template onSelected=onTemplateSelected}}
      </div>
    {{/listItem.content}}
  {{/list.item}}
  {{#list.item as |listItem|}}
    {{#listItem.header}}<h1>{{tt this "templateCategories.advanced"}}</h1>{{/listItem.header}}
    {{#listItem.content}}
      <div class="one-tile-container">
        {{token-template-selector/oneclient-in-oneprovider-template onSelected=onTemplateSelected}}
        {{token-template-selector/readonly-data-template onSelected=onTemplateSelected}}
        {{token-template-selector/readonly-data-for-user-template onSelected=onTemplateSelected}}
        {{token-template-selector/restricted-data-template onSelected=onTemplateSelected}}
        {{token-template-selector/identity-template onSelected=onTemplateSelected}}
      </div>
    {{/listItem.content}}
  {{/list.item}}
  {{#list.item as |listItem|}}
    {{#listItem.header
      click=(action "onCustomTemplateSelected")
      disableToggleIcon=true
      class="template-custom"
    }}
      <h1>
        {{tt this "templateCategories.custom"}}
        {{one-icon icon="arrow-right" class="category-link-arrow"}}
      </h1>
    {{/listItem.header}}
  {{/list.item}}
{{/one-collapsible-list}}

{{yield}}
