<h2>{{tt this "header"}}</h2>
{{#if dump}}
  <div class="detail">
    <span class="detail-label name-label">{{tt this "name"}}:</span>
    {{#truncated-string class=(concat "detail-value name " (if isNameUnknown "unknown"))}}
      {{if isNameUnknown (tt this "unknownValue") name}}
    {{/truncated-string}}
  </div>
  <div class="detail">
    <span class="detail-label revision-number-label">{{tt this "revisionNumber"}}:</span>
    {{#truncated-string class=(concat "detail-value revision-number " (if isRevisionNumberUnknown "unknown"))}}
      {{if isRevisionNumberUnknown (tt this "unknownValue") revisionNumber}}
    {{/truncated-string}}
  </div>
{{else}}
  <p class="error text-danger">{{tt this "error"}}</p>
{{/if}}
{{yield}}
