{{#if uploadedFile}}
  <span class="filename">{{filename}}</span>
{{else}}
  <p class="intro">{{tt this "intro"}}</p>
{{/if}}
{{#bs-button
  class="upload-btn"
  type=(if uploadedFile "default" "primary")
  onClick=(action "triggerFileInput")
}}
  {{tt this (if uploadedFile "uploadButton.change" "uploadButton.select")}}
{{/bs-button}}
<input
  class="upload-input hidden"
  type="file"
  accept=".json"
  onchange={{action "inputChange"}}
/>
{{yield}}
