<div class="row">
  <div class="col-xs-12">
    <div class="row content-row no-border relative">
      <div class="col-xs-12 col-md-5 col-lg-6">
        <p>{{tt this "desc1"}}</p>
        <p>{{tt this "desc2"}}</p>
      </div>
      <div class="hidden-xs hidden-sm col-md-7 col-lg-6 col-vertical-middle-absolute-right">
        <img class="image-support" src={{root-url "assets/images/space-support-expose.svg"}}>
      </div>
    </div>
    <div class="row content-row no-border">
      {{content-spaces-support/-os-supported}}
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row content-row no-border">
      <div class="inner-row-content">
        <h5>{{t "components.contentSpacesSupport.tabsCommon.command"}}</h5>
        <div class="row loadable-row lg">
          {{#promise-proxy-container proxy=commandProxy}}
            <textarea class="token-textarea expose-data-command no-resize form-control" rows="9"  readonly>{{commandProxy.content}}</textarea>
            {{#copy-button
              success=(action "copySuccess" "command")
              error=(action "copyError" "command")
              class="btn btn-primary pull-left"
              clipboardTarget=".token-textarea.expose-data-command"
            }}
              {{one-icon icon="browser-copy"}}
              {{t "components.contentSpacesSupport.tabsCommon.copy"}}
            {{/copy-button}}
            <a class="clickable btn-get-token pull-right" {{action "getTokens"}}>
              {{t "components.contentSpacesSupport.tabsCommon.generateToken"}}
            </a>
          {{/promise-proxy-container}}
        </div>
      </div>
    </div>
  </div>
</div>

