<div class="row">
  <div class="col-xs-12 col-md-7 col-lg-8">
    <div class="row content-row no-border">
      <p>{{tt this "desc1"}}</p>
      <p>{{tt this "desc2"}}</p>
      <p>{{tt this "desc3"}}</p>
    </div>
    <div class="row content-row no-border">
      <div class="inner-row-content">
        <h5>{{t "components.contentSpacesSupport.tabsCommon.token"}}</h5>
        <div class="row loadable-row lg">
          {{#promise-proxy-container proxy=tokenProxy}}
            <textarea class="token-textarea support-token form-control" rows="4" readonly>{{tokenProxy.content}}</textarea>
            {{#copy-button
              success=(action "copySuccess" "token")
              error=(action "copyError" "token")
              class="btn btn-primary pull-left"
              clipboardTarget=".token-textarea.support-token"
            }}
              {{one-icon icon="clipboard-copy"}}
              {{t "components.contentSpacesSupport.tabsCommon.copy"}}
            {{/copy-button}}
            <a class="clickable btn-get-token pull-right" {{action "getToken"}}>
              {{t "components.contentSpacesSupport.tabsCommon.generateToken"}}
            </a>
          {{/promise-proxy-container}}
        </div>
      </div>
    </div>
  </div>
  <img class="col-image hidden-xs hidden-sm col-md-5 col-lg-4" src={{root-url "assets/images/space-support-request.svg"}}>
</div>
