<div class="row">
  <div class="col-xs-12 col-md-7 col-lg-8">
    <div class="row content-row no-border">
      <p>{{tt this "desc1"}}</p>
      <p>{{tt this "desc2"}}</p>
      <p>{{tt this "desc3"}}</p>
    </div>
    <div class="row content-row no-border">
      <h5>{{t "components.contentSpacesSupport.tabsCommon.token"}}</h5>
      <div class="row loadable-row lg">
        {{#promise-proxy-container proxy=tokenProxy }}
          <textarea class="token-textarea form-control" rows="4" readonly>{{tokenProxy.content}}</textarea>
        {{/promise-proxy-container}}
      </div>
      <a class="clickable" {{action "getToken"}}>
        {{t "components.contentSpacesSupport.tabsCommon.generateToken"}}
      </a>
      {{#copy-button
        success=(action "copySuccess" "token")
        error=(action "copyError" "token")
        class="btn btn-primary pull-right"
        clipboardTarget=".token-textarea"
      }}
        {{one-icon icon="clipboard-copy"}}
        {{t "components.contentSpacesSupport.tabsCommon.copy"}}
      {{/copy-button}}
    </div>
  </div>
  <img class="col-image hidden-xs hidden-sm col-md-5 col-lg-4" src="assets/images/space-support-request.svg">
</div>
