<h2>{{tt this "header"}}</h2>
{{#one-way-radio-group
  value=selectedOperation
  options=operationsRadioOptions
  update=(action "selectedOperationChange")
  isReadOnly=isDisabled
  as |option|
}}
  <div class="radio-option-subcontent">
    {{#if (eq option.value "merge")}}
      {{#if isMergeDisabled}}
        <div class="no-target-workflow-warning alert alert-info small">
          {{tt this (concat "operations.merge.noTargetWorkflowWarning." dumpSourceType)}}
        </div>
      {{else}}
        {{form-component/field-renderer field=targetWorkflowField}}
        {{#if isRevisionConflictWarningVisible}}
          <div class="revision-conflict-warning alert alert-warning small">
            {{tt this
              (concat "operations.merge.revisionConflictWarning." dumpSourceType)
              revisionNumber=revisionNumber
            }}
          </div>
        {{/if}}
      {{/if}}
    {{else if (eq option.value "create")}}
      {{form-component/field-renderer field=newWorkflowsNameField}}
    {{/if}}
  </div>
{{/one-way-radio-group}}
{{yield}}
