{{one-icon class="sidebar-item-icon" icon=icon}}
<div class="sidebar-item-title">
  {{#truncated-string class="sidebar-item-title-upper"}}
    {{name-conflict item=item tagName="span" class="one-label share-name"}}
  {{/truncated-string}}
  {{#if spaceRecord}}
    {{#truncated-string class="sidebar-item-title-lower"}}
      <strong>{{tt this "space"}}</strong><span class="space-name">{{spaceRecord.name}}</span>
    {{/truncated-string}}
  {{/if}}
</div>
{{#unless inSidenav}}
  {{actions-toolbar
    isMinimized=true
    dropdownPlacement="auto"
    actionsArray=itemActions
  }}
{{/unless}}
