{{one-icon class="sidebar-item-icon" icon=icon}}
<div class="sidebar-item-title">
  {{#truncated-string class="sidebar-item-title-upper"}}
    {{name-conflict item=item tagName="span" class="one-label share-name"}}
  {{/truncated-string}}
  {{#truncated-string class="sidebar-item-title-lower"}}
    <strong>{{tt this "space"}}:</strong>
    {{#if spaceProxy.name}}
      <span class="space-name">{{spaceProxy.name}}</span>
    {{else}}
      <em>{{tt this "unknown"}}</em>
    {{/if}}
  {{/truncated-string}}
</div>
  {{#if isOpenData}}
    <StatusToolbar as |toolbar|>
      <toolbar.icon
        @icon="globe-cursor"
        @hint={{openDataTip}}
      />
    </StatusToolbar>
  {{/if}}
{{#unless inSidenav}}
  {{actions-toolbar
    isMinimized=true
    dropdownPlacement="auto"
    actionsArray=itemActions
  }}
{{/unless}}
