<div class="row content-row header-row hidden-xs">
  <h1 class="with-back relative nowrap">
    <a class="content-back-link" {{action "backSlide"}}>
      {{one-icon icon="lambda" class="content-back-resource-icon"}}
      {{one-icon icon="arrow-left" class="content-back-arrow-icon"}}
    </a>
    <div class="resource-name">{{tt this "header"}}</div>
  </h1>
</div>
{{content-workflows-functions/lambda-function-form
  mode="create"
  onSubmit=(action "onFormSubmit")
}}
{{yield}}
