{{#one-icon
  class=(concat-classes "cancel-action" iconClass (concat "cancel-ack-" parentView.elementId))
  icon="ban-left"
  click=(action "toggleAckPopover" (not ackPopoverOpened))}}
  {{one-tooltip title=(tt this (if isCancelled "cancelled" "cancel"))}}
{{/one-icon}}
{{#render-later triggerRender=ackPopoverOpened}}
  {{#one-webui-popover
    class="cancel-ack"
    triggerSelector=(concat ".cancel-ack-" parentView.elementId)
    open=ackPopoverOpened}}
    {{#click-outside action=(action "toggleAckPopover" false) except-selector=(concat ".cancel-ack-" parentView.elementId)}}
      <h1>{{tt this "ackHeader"}}</h1>
      <p>{{tt this "ackMessage"}}</p>
      <div class="text-right">
        {{#bs-button type="default" size="sm" onClick=(action "toggleAckPopover" false)}}{{tt this "ackNo"}}{{/bs-button}}
        {{#bs-button type="danger" size="sm" onClick=(action "cancel")}}{{one-icon icon="ban-left"}} {{tt this "ackYes"}}{{/bs-button}}
      </div>
    {{/click-outside}}
  {{/one-webui-popover}}
{{/render-later}}
