<div class="progress upload-summary-header-progress-bar">
  <div class="progress-bar" role="progressbar" style={{progressBarWidthStyle}}></div>
</div>
<div class="upload-summary-header-text">
  <div class="summary-state">
    {{headerText}} <span class="progress-text">({{uploadObject.progress}}%)</span>
    {{#if (eq uploadObject.state "failed")}}
      {{#one-icon class="upload-object-error-icon text-danger" icon="checkbox-filled-warning"}}
        {{#if uploadObject.errorMessage}}
          {{one-tooltip title=uploadObject.errorMessage}}
        {{/if}}
      {{/one-icon}}
    {{/if}}
  </div>
  {{#if (and uploadObject.space uploadObject.oneprovider)}}
    {{#truncated-string class="summary-oneprovider"}}{{uploadObject.space.name}} - {{uploadObject.oneprovider.name}}{{/truncated-string}}
  {{/if}}
</div>
<div class="upload-summary-header-icons">
  {{#one-icon
    class=(concat-classes "upload-summary-header-toggle-minimize" (if isMinimized "minimized"))
    icon="move-down"
    click=(action "onToggleMinimize")}}
    {{one-tooltip title=(tt this (if isMinimized "makeFloating" "minimize"))}}
  {{/one-icon}}
  {{upload-presenter/cancel-upload
    onCancel=onCancel
    canCancel=uploadObject.canBeCancelled
    isCancelled=uploadObject.isCancelled
    iconClass="upload-summary-header-cancel"}}
</div>
