<div class="progress upload-summary-header-progress-bar {{uploadObject.state}}">
  <div class="progress-bar" role="progressbar" style={{progressBarWidthStyle}}></div>
</div>
<div class="upload-summary-header-text">
  <div class="summary-state">
    <span class="header-text">{{headerText}}</span>
    <span class="space"> </span>
    <span class="progress-text">({{uploadObject.progress}}%)</span>
    {{#if (eq uploadObject.state "failed")}}
      {{upload-presenter/error-indicator uploadObject=uploadObject}}
    {{/if}}
  </div>
  {{#if (and uploadObject.space uploadObject.oneprovider)}}
    {{#truncated-string class="summary-oneprovider"}}{{uploadObject.space.name}} - {{uploadObject.oneprovider.name}}{{/truncated-string}}
  {{/if}}
</div>
<div class="upload-summary-header-icons">
  {{#one-icon
    class=(concat-classes
      "upload-summary-header-toggle-minimize clickable"
      (if isMinimized "minimized")
    )
    icon="move-down"
    click=(action "onToggleMinimize")
  }}
    {{one-tooltip title=(tt this (if isMinimized "makeFloating" "minimize"))}}
  {{/one-icon}}
  {{upload-presenter/cancel-upload
    onCancel=onCancel
    canCancel=uploadObject.canBeCancelled
    isCancelled=uploadObject.isCancelled
    iconClass="upload-summary-header-cancel"
  }}
</div>
