{{#promise-proxy-container proxy=recordsProxy sizeClass="xs"}}
  {{#perfect-scrollbar-element
    suppressScrollY=true
    onScroll=(action "scroll")}}
    {{#each pathElements key="id" as |pathElement|}}
      {{#if (eq pathElement.type "block")}}
        {{membership-visualiser/membership-block
          record=pathElement.record
          view=(action view pathElement.record)}}
      {{else if (eq pathElement.type "relation")}}
        {{membership-visualiser/membership-relation
          relation=pathElement.relation
          modifyPrivileges=(action modifyPrivileges pathElement.relation)
          removeRelation=(action removeRelation pathElement.relation)}}
      {{else if (eq pathElement.type "more")}}
        {{membership-visualiser/membership-more
          number=pathElement.number}}
      {{/if}}
    {{/each}}
  {{/perfect-scrollbar-element}}
  <div class="bar-nav">
    {{#if scrollLeftButton}}
      <div class="scroll-button scroll-left" {{action "moveLeft"}}>
        {{one-icon icon="arrow-left"}}
      </div>
    {{/if}}
    {{#if scrollRightButton}}
      <div class="scroll-button scroll-right" {{action "moveRight"}}>
        {{one-icon icon="arrow-right"}}
      </div>
    {{/if}}
  </div>
{{/promise-proxy-container}}
