{{#global-modal
  classNames="confirm-join-request-modal"
  modalId=modalId
  size="lg"
  as |modal|
}}
  {{#modal.header}}
    <h1>
      {{#if requesterInfoProxy.isFulfilled}}
        {{#if isValid}}
          {{one-icon icon="sign-info-rounded"}}
          <span class="one-label">{{tt this "header.valid"}}</span>
        {{else}}
          {{one-icon icon="sign-warning-rounded"}}
          <span class="one-label">{{tt this "header.invalid"}}</span>
        {{/if}}
      {{else if requesterInfoProxy.isPending}}
        {{one-icon icon="sign-info-rounded"}}
        <span class="one-label">{{tt this "header.loading"}}</span>
      {{else}}
        {{one-icon icon="sign-error-rounded"}}
        <span class="one-label">{{tt this "header.failed"}}</span>
      {{/if}}
    </h1>
  {{/modal.header}}

  {{#modal.body}}
    {{#promise-proxy-container
      tagName="div"
      class=(if requesterInfoProxy.isPending "loadable-row")
      proxy=requesterInfoProxy
    }}
      {{#if isValid}}
        {{#promise-proxy-container
          tagName="div"
          class=(if spaceProxy.isPending "loadable-row")
          proxy=spaceProxy
        }}
          <p>
            {{tt this "body.valid.text"
              spaceName=spaceName
              userName=requesterInfo.fullName
            }}
          </p>
          <p>{{tt this "body.valid.info"}}</p>
          {{join-image
            class="user-join-space-image hidden-xs"
            joiningModelName="user"
            joiningRecord=requesterInfo
            inviteTargetModelName="space"
            inviteTargetId=spaceId
            inviteTargetName=spaceName
          }}
          <p>{{tt this "body.valid.question"}}</p>
        {{/promise-proxy-container}}
      {{else}}
        <p>{{tt this "body.invalid.text"}}</p>
      {{/if}}
    {{/promise-proxy-container}}
  {{/modal.body}}

  {{#if requesterInfoProxy.isSettled}}
    {{#modal.footer class="btn-toolbar"}}
      {{#if isProceedButtonVisible}}
        {{#one-button
          type="grant"
          class="proceed-btn"
          disabled=(not isProceedAvailable)
          onClick=(action "reject")
        }}
          {{tt this "rejectBtn"}}
        {{/one-button}}
        {{#one-button
          type="primary"
          class="proceed-btn"
          disabled=(not isProceedAvailable)
          onClick=(action "grant")
        }}
          {{tt this "grantBtn"}}
        {{/one-button}}
      {{else}}
        {{#one-button
          type="default"
          class="close-btn"
          onClick=modal.close
        }}
          {{tt this "close"}}
        {{/one-button}}
      {{/if}}
    {{/modal.footer}}
  {{/if}}

{{/global-modal}}
