<h1>{{tt this "header"}}</h1>
{{#promise-proxy-container proxy=manifestProxy}}
  <p>
    <strong>{{tt this "status"}}:</strong> <span class="gui-status {{status.class}}">{{status.name}}</span><br>
    <strong>{{tt this "version"}}:</strong> <span class="gui-version {{version.class}}">{{version.version}}</span>
  </p>
{{/promise-proxy-container}}
