<h1>
  <span class="one-label">{{tt this "header"}}</span>
  {{one-label-tip title=(tt this "sectionHint")}}
  {{#if dataLoadingProxy.isFulfilled}}
    <div class="pull-right header-buttons">
      {{#if (eq mode "view")}}
        {{#one-button type="default" size="sm" onClick=(action "edit")}}{{tt this "edit"}}{{/one-button}}
      {{else}}
        {{#one-button type="default" size="sm" onClick=(action "useDefaults") disabled=(not isUseDefaultsEnabled)}}
          {{#if (and (not isSaving) (not defaultConfiguration))}}
            {{one-tooltip title=(tt this "noDefaults")}}
          {{/if}}
          {{tt this "useDefaults"}}
        {{/one-button}}
        {{#one-button type="default" size="sm" onClick=(action "cancel") disabled=isSaving}}{{tt this "cancel"}}{{/one-button}}
        {{#one-button
          type="primary"
          buttonType="submit"
          size="sm"
          disabled=(not isValid)
          onClick=(action "save")
        }}
          {{tt this "save"}}
        {{/one-button}}
      {{/if}}
    </div>
  {{/if}}
</h1>
{{#promise-proxy-container proxy=dataLoadingProxy}}
  {{json-editor
    value=editorValue
    disabled=isSaving
    readonly=(eq mode "view")
    acceptEmptyString=true
    onChange=(action "configurationChange")}}
{{/promise-proxy-container}}
