<h1>{{tt this "header"}}</h1>
{{#promise-proxy-container proxy=manifestProxy}}
  <p>
    <strong>{{tt this "status"}}:</strong> <span class="gui-status {{statusSpec.class}}">{{statusSpec.name}}</span><br>
    <strong>{{tt this "name"}}:</strong> <span class="gui-name {{nameSpec.class}}">{{nameSpec.name}}</span><br>
    <strong>{{tt this "version"}}:</strong> <span class="gui-version {{versionSpec.class}}">{{versionSpec.version}}</span>
  </p>
{{/promise-proxy-container}}
